<sly data-sly-use.slingModel="com.aem.edp.site.core.models.ConnectionOracleDataBase"></sly>
<table style="width:100%">
  <tr>
    <th>Name</th>
  </tr>
  <sly data-sly-list.persona="${slingModel.personas}">
	  <tr>
	    <td>${persona}</td>
	  </tr>
  </sly>
</table> 