<sly data-sly-use.data="experiencefragment.js" data-sly-unwrap>
    <sly data-sly-test="${!inheritedPageProperties.footerExperienceFragment}">
        <div data-sly-test="${(wcmmode.edit || wcmmode.preview)}"
             class="cq-dd-experiencefragment cq-placeholder "
             data-emptytext="${component.properties.jcr:title}${emptyTextAppend && ' - '}${emptyTextAppend}">
        </div>
    </sly>
    <sly data-sly-test=${inheritedPageProperties.footerExperienceFragment}
         data-sly-resource="${@path=inheritedPageProperties.footerExperienceFragment, selectors='content', wcmmode='disabled'}"></sly>
</sly>