@charset "UTF-8"; 

#a-mensaje {
	background: transparent
		url(../../img/css/aplicacion/fondo-confirmacion.jpg) no-repeat 0 50%;
	height: 100vh
}

#a-mensaje #confirmacion {
	display: flex;
	align-items: center;
	background: rgba(255, 255, 255, 0.9);
	box-sizing: border-box;
	height: 100%;
	padding: 70px 40px 0;
	width: 100%
}

@media ( min-width :47em) {
	#a-mensaje #confirmacion {
		width: 60%
	}
}

@media ( min-width :67.5em) {
	#a-mensaje #confirmacion {
		padding: 70px 100px 0;
		width: 50%
	}
}

@media ( min-width :93.5em) {
	#a-mensaje #confirmacion {
		width: 40%
	}
}

@media ( max-width :82.5em) {
	#a-mensaje #confirmacion img {
		max-height: 150px
	}
}

#a-mensaje #confirmacion h2 {
	font-weight: 700;
	font-size: 2.7rem;
	color: #000;
	margin-bottom: 15px
}

@media ( min-width :47em) {
	#a-mensaje #confirmacion h2 {
		font-size: 2.8rem
	}
}

@media ( min-width :67.5em) {
	#a-mensaje #confirmacion h2 {
		font-size: 3.15rem
	}
}

#a-mensaje #confirmacion p {
	font-weight: 300;
	font-size: 1.2rem;
	color: #848282
}

#a-mensaje #confirmacion .boton3 {
	margin: 30px 0 0
}

#a-mensaje #confirmacion .boton3 * {
	background: #fff;
	border-color: #d1cdcd;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
	min-width: 0
}

@media ( hover :hover) {
	#a-mensaje #confirmacion .boton3 *:hover {
		color: #000
	}
}

.form-tipo2 .cuerpo-form {
	display: block
}

.form-tipo2 .cuerpo-form input {
	width: 100%
}

@media ( min-width :47em) {
	.form-tipo2 .cuerpo-form {
		display: flex;
		align-items: center
	}
	.form-tipo2 .cuerpo-form input {
		width: auto
	}
}

input[type=submit], button {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none
}

#atajo {
	display: none
}

.provider {
	bottom: -31px;
	position: absolute;
	right: 0;
	width: 100%
}

.provider span {
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	border-radius: 20px 0 0 20px;
	padding: 10px 20px
}

.aplicacion header {
	background: #fff;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2)
}

.calculadora {
	display: flex;
	flex-direction: column-reverse
}

@media ( min-width :59em) {
	.calculadora {
		flex-direction: row-reverse
	}
}

#map {
	height: 100vh;
	min-height: 750px;
	width: 100%
}

body.cuerpo-iframe #map {
	height: auto
}

#map.no-after::after {
	display: none
}

#situacion {
	display: none
}

.boton {
	font-size: .8rem;
	border-radius: 25px;
	color: #ee162d;
	display: inline-block;
	padding: 15px 25px;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 500ms ease
}

@media ( min-width :47em) {
	.boton {
		font-size: 1.1rem
	}
}

.boton.blanco {
	background-color: #fff;
	border: 1px solid #e6e6e6;
	box-shadow: 0 0 5px rgba(85, 85, 85, 0.2);
	color: #ee162d
}

@media ( hover :hover) {
	.boton.blanco:hover {
		background-color: #f3f3f3;
		color: #ee162d
	}
}

.boton.rojo {
	background-color: #ee162d;
	border: 1px solid #ee162d;
	color: #fff
}

@media ( hover :hover) {
	.boton.rojo:hover {
		background-color: #fff;
		color: #ee162d
	}
}

.boton.turquesa {
	background-color: #54b9ad;
	border: 1px solid #54b9ad;
	color: #fff
}

@media ( hover :hover) {
	.boton.turquesa:hover {
		background-color: #fff;
		color: #54b9ad
	}
}

.boton.ver {
	color: #000;
	padding: 5px 10px
}

.bloque-calculadora {
	left: 0;
	position: absolute;
	top: 0
}

.bloque-calculadora .container-fluid {
	margin-top: 200px;
	position: relative
}

.bloque-calculadora h2 {
	font-family: "patron", "Verdana", sans-serif;
	font-weight: 700;
	font-size: 2.2rem;
	color: #fff
}

@media ( min-width :47em) {
	.bloque-calculadora h2 {
		font-size: 2.5rem
	}
}

@media ( min-width :67.5em) {
	.bloque-calculadora h2 {
		font-size: 2.5rem
	}
}

@media ( min-width :47em) {
	.bloque-calculadora h2 {
		font-size: 3.5rem;
		max-width: 700px
	}
}

@media ( min-width :47em) and (min-width:47em) {
	.bloque-calculadora h2 {
		font-size: 3.75rem
	}
}

@media ( min-width :47em) and (min-width:67.5em) {
	.bloque-calculadora h2 {
		font-size: 4.8rem
	}
}

@media ( min-width :67.5em) {
	.bloque-calculadora h2 {
		max-width: 900px
	}
}

.bloque-calculadora .bloque-formulario p {
	font-family: "patron", "Verdana", sans-serif;
	font-size: 1.7rem;
	color: #fff
}

@media ( min-width :47em) {
	.bloque-calculadora .bloque-formulario p {
		font-size: 1.9rem
	}
}

@media ( min-width :67.5em) {
	.bloque-calculadora .bloque-formulario p {
		font-size: 1.9rem
	}
}

.bloque-calculadora .obligatorio {
	color: #fff
}

.bloque-calculadora form {
	position: relative
}

@media ( min-width :59em) {
	.bloque-calculadora form {
		max-width: 80%
	}
}

.bloque-calculadora .row {
	color: #000;
	margin-bottom: 20px;
	position: relative;
	text-align: center
}

.bloque-calculadora .row p {
	font-family: "patron", "Verdana", sans-serif;
	font-weight: 700;
	font-size: .9rem;
	color: #000;
	margin-bottom: 5px
}

.bloque-calculadora .row p span {
	font-family: "patron", "Verdana", sans-serif;
	font-weight: 300;
	font-size: .8rem;
	color: #909090;
	display: block;
	line-height: 1rem
}

.bloque-calculadora .direccion {
	background: #fff url("../resources/img/localizacion.png") no-repeat
		10px 10px;
	border-radius: 10px;
	margin-bottom: 10px;
	padding: 15px 15px 15px 45px
}

@media ( min-width :47em) {
	.bloque-calculadora .direccion {
		background-position: 30px 10px;
		border-radius: 10px 0 0 10px;
		margin-bottom: 0;
		padding: 15px 15px 15px 80px
	}
}

.bloque-calculadora .pasos {
	min-width: 270px;
	margin: 30px 0 20px
}

.bloque-calculadora .pasos ul {
	display: flex;
	justify-content: center;
	align-items: center
}

.bloque-calculadora .pasos ul li {
	list-style-type: none;
	position: relative;
	text-align: center;
	font-weight: 600;
	font-size: .8em;
	width: 100%;
	z-index: 0
}

.bloque-calculadora .pasos ul li:after {
	content: "";
	height: 12px;
	width: 12px;
	line-height: 12px;
	border: 1px solid #909090;
	display: block;
	text-align: center;
	margin: 0 auto 10px auto;
	border-radius: 50%;
	background-color: #fff;
	color: #fff;
	z-index: 0
}

.bloque-calculadora .pasos ul li:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	background-color: #909090;
	bottom: 16px;
	left: calc(6px - 50%);
	z-index: -1
}

.bloque-calculadora .pasos ul li:first-child:before {
	content: none
}

.bloque-calculadora .pasos ul li.activo:after {
	border: 2px solid #ee162d;
	height: 10px;
	width: 10px;
	line-height: 10px
}

.bloque-calculadora .bloque-texto {
	text-align: center;
	padding-top: 15px
}

.bloque-calculadora .bloque-texto p {
	font-family: "patron", "Verdana", sans-serif;
	font-weight: 700;
	font-size: 1.1rem;
	color: #000;
	margin-bottom: 5px
}

.bloque-calculadora .bloque-texto p span {
	font-family: "patron", "Verdana", sans-serif;
	font-weight: 300;
	font-size: .9rem;
	color: #909090;
	display: block;
	line-height: 1rem;
	margin-top: 10px
}

@media ( min-width :59em) {
	.bloque-calculadora .bloque-texto p {
		font-size: 1.2rem
	}
	.bloque-calculadora .bloque-texto p span {
		font-size: 1.1rem
	}
}

.bloque-calculadora .bloque-texto img {
	margin: 30px 0
}

.bloque-calculadora .superficie {
	font-family: "patron", "Verdana", sans-serif;
	font-weight: 700;
	font-size: 1.1rem;
	text-align: center
}

@media ( min-width :59em) {
	.bloque-calculadora .superficie {
		font-size: 1.2rem
	}
}

.bloque-calculadora .superficie p {
	font-family: "patron", "Verdana", sans-serif;
	font-size: 1.1rem
}

.bloque-calculadora .superficie .edit:before {
	font-family: fontello;
	font-size: 1rem;
	color: #fff;
	content: ""
}

.bloque-calculadora .superficie .edit:before {
	padding: 8px 9px
}

.bloque-calculadora .superficie .ok:before {
	font-family: fontello;
	font-size: 1rem;
	color: #fff;
	content: ""
}

.bloque-calculadora .superficie .ok:before {
	padding: 8px
}

.bloque-calculadora .superficie .cancel:before {
	font-family: fontello;
	font-size: 1rem;
	color: #fff;
	content: ""
}

.bloque-calculadora .superficie .cancel:before {
	padding: 8px 10px;
	background: #909090
}

.bloque-calculadora .superficie span {
	display: none
}

.bloque-calculadora .superficie span:before {
	background: #ee162d;
	border-radius: 50%;
	display: inline-block;
	font-weight: 400
}

.bloque-calculadora #superficie {
	background: transparent url("../../img/css/aplicacion/m2-edit.png")
		no-repeat right bottom;
	border: 0;
	border-bottom: 3px solid #e6e6e6;
	color: #e6e6e6;
	font-size: 3rem;
	font-weight: bold;
	height: 1.1em;
	padding: 0 45px 0 0;
	text-align: center;
	width: 160px
}

.bloque-calculadora #valor-superficie {
	background: transparent url("../../img/css/aplicacion/m2.png") no-repeat
		right bottom;
	display: inline-block;
	color: #54b9ad;
	font-size: 3rem;
	font-weight: bold;
	line-height: 1em;
	padding: 0 45px 0 10px
}

.bloque-calculadora .botones {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 20px 5px
}

.bloque-calculadora .botones a {
	text-decoration: none
}

@media ( min-width :59em) {
	.bloque-calculadora .botones {
		padding: 30px;
		justify-content: space-between
	}
}

.bloque-calculadora .bloque-paso-uno {
	border: 1px solid #e6e6e6;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(230, 230, 230, 0.8);
	margin-bottom: 20px
}

.bloque-calculadora .bloque-paso-uno .bloque-texto {
	padding-top: 30px
}

.bloque-calculadora .bloque-paso-dos {
	display: none;
	max-width: 521px
}

.bloque-calculadora .bloque-paso-tres {
	border: 1px solid #e6e6e6;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(230, 230, 230, 0.8);
	display: none;
	margin-bottom: 20px
}

.bloque-calculadora .bloque-paso-tres .row {
	margin-bottom: 0
}

.bloque-calculadora .bloque-paso-tres #importe {
	display: none
}

.bloque-calculadora .enviar {
	font-size: .8rem;
	background-color: #ee162d;
	border-color: #ee162d;
	border-radius: 40px;
	color: #fff;
	cursor: pointer;
	padding: 16px;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 500ms ease;
	width: 100px
}

@media ( hover :hover) {
	.bloque-calculadora .enviar:hover {
		background-color: #fff;
		color: #ee162d
	}
}

@media ( min-width :31em) {
	.bloque-calculadora .enviar {
		font-size: 1.1rem;
		padding: 13px 15px;
		width: 150px
	}
}

.bloque-calculadora .buscar {
	border: 1px solid #ee162d;
	border-radius: 10px;
	min-width: 150px;
	text-align: center;
	width: 100%
}

@media ( min-width :47em) {
	.bloque-calculadora .buscar {
		border-radius: 0 10px 10px 0
	}
}

.bloque-calculadora .buscar.calcula {
	width: 100%
}

.bloque-calculadora.resultados {
	color: #000;
	position: relative;
	top: 0
}

.bloque-calculadora.resultados .container-fluid {
	margin-top: 120px
}

.bloque-calculadora.resultados h2 {
	font-family: "patron", "Verdana", sans-serif;
	font-weight: 700;
	font-size: 2rem;
	color: #000;
	margin: 0;
	max-width: 100%;
	text-align: center
}

@media ( min-width :47em) {
	.bloque-calculadora.resultados h2 {
		font-size: 2.2rem
	}
}

@media ( min-width :67.5em) {
	.bloque-calculadora.resultados h2 {
		font-size: 2.2rem
	}
}

.bloque-calculadora.resultados h3 {
	font-family: "patron", "Verdana", sans-serif;
	font-weight: 700;
	font-size: 1.7rem;
	background: transparent
		url("../../img/comun/aplicacion/fondo-titulo.png") no-repeat bottom
		center;
	background-size: contain;
	color: #000;
	padding: 40px 0 40px;
	margin: 40px 0 0;
	max-width: 100%;
	text-align: center
}

@media ( min-width :47em) {
	.bloque-calculadora.resultados h3 {
		font-size: 1.9rem
	}
}

@media ( min-width :67.5em) {
	.bloque-calculadora.resultados h3 {
		font-size: 1.9rem
	}
}

.bloque-calculadora.resultados .subtitulo {
	margin: 0 0 50px;
	text-align: center
}

.bloque-calculadora.resultados .subtitulo span {
	padding-left: 5px;
	font-weight: 700
}

.bloque-calculadora.resultados .titulo-coste {
	font-weight: 700;
	margin: 0;
	padding: 0 0 10px 8%
}

.bloque-calculadora.resultados .titulo-coste.borde-superior {
	border-top: 2px solid #f3f3f3;
	padding-top: 30px
}

.bloque-calculadora.resultados ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center
}

.bloque-calculadora.resultados ul.bloque-datos {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 0
}

.bloque-calculadora.resultados ul.bloque-datos li {
	display: flex;
	align-items: start
}

.bloque-calculadora.resultados ul.bloque-datos li .valor {
	font-family: "patron", "Verdana", sans-serif;
	font-weight: 700;
	font-size: 3rem;
	line-height: 1em;
	margin: 0
}

@media ( min-width :47em) {
	.bloque-calculadora.resultados ul.bloque-datos li .valor {
		font-size: 3.15rem
	}
}

@media ( min-width :67.5em) {
	.bloque-calculadora.resultados ul.bloque-datos li .valor {
		font-size: 3.75rem
	}
}

.bloque-calculadora.resultados ul.bloque-datos li .valor span {
	font-family: "patron", "Verdana", sans-serif;
	font-weight: 400;
	font-size: 1.35rem;
	line-height: 1em
}

@media ( min-width :47em) {
	.bloque-calculadora.resultados ul.bloque-datos li .valor span {
		font-size: 1.55rem
	}
}

@media ( min-width :67.5em) {
	.bloque-calculadora.resultados ul.bloque-datos li .valor span {
		font-size: 1.55rem
	}
}

@media ( min-width :47em) {
	.bloque-calculadora.resultados ul.bloque-datos li .valor {
		font-size: 3.5rem
	}
}

@media ( min-width :47em) and (min-width:47em) {
	.bloque-calculadora.resultados ul.bloque-datos li .valor {
		font-size: 3.75rem
	}
}

@media ( min-width :47em) and (min-width:67.5em) {
	.bloque-calculadora.resultados ul.bloque-datos li .valor {
		font-size: 4.8rem
	}
}

.bloque-calculadora.resultados ul.bloque-datos li .descripcion {
	font-family: "patron", "Verdana", sans-serif;
	font-weight: 700;
	text-align: left
}

.bloque-calculadora.resultados ul.bloque-datos li .icono-placa,
	.bloque-calculadora.resultados ul.bloque-datos li .icono-pila {
	height: 100%;
	padding: 5px
}

.bloque-calculadora.resultados ul.bloque-datos li:last-child {
	color: #54b9ad
}

.bloque-calculadora.resultados ul.bloque-datos sup {
	font-size: .5em
}

@media ( min-width :47em) {
	.bloque-calculadora.resultados ul.bloque-datos {
		display: flex;
		justify-content: space-between;
		align-items: self-end;
		padding: 0 40px 20px
	}
}

.bloque-calculadora.resultados ul.bloque-coste {
	background: #ee162d;
	box-shadow: 0 0 10px rgba(85, 85, 85, 0.2);
	color: #fff;
	flex-wrap: wrap;
	padding: 20px 20px 10px
}

@media ( min-width :47em) {
	.bloque-calculadora.resultados ul.bloque-coste {
		flex-wrap: no-wrap
	}
}

.bloque-calculadora.resultados ul.bloque-coste p {
	text-align: center;
	margin: 0
}

.bloque-calculadora.resultados ul.bloque-coste li {
	padding-bottom: 10px;
	text-align: center;
	width: 100%
}

.bloque-calculadora.resultados ul.bloque-coste li .valor {
	font-family: "patron", "Verdana", sans-serif;
	font-weight: 700
}

.bloque-calculadora.resultados ul.bloque-coste li span {
	font-size: 1.35rem
}

@media ( min-width :47em) {
	.bloque-calculadora.resultados ul.bloque-coste li span {
		font-size: 1.55rem
	}
}

@media ( min-width :67.5em) {
	.bloque-calculadora.resultados ul.bloque-coste li span {
		font-size: 1.55rem
	}
}

.bloque-calculadora.resultados ul.bloque-coste li:first-child {
	display: flex;
	justify-content: center;
	align-items: center
}

.bloque-calculadora.resultados ul.bloque-coste li:first-child div {
	padding-left: 10px
}

.bloque-calculadora.resultados ul.bloque-coste li:first-child .valor {
	text-align: left
}

.bloque-calculadora.resultados ul.bloque-coste li:nth-child(2) {
	font-weight: 700;
	font-size: 1.2rem
}

@media ( min-width :47em) {
	.bloque-calculadora.resultados ul.bloque-coste li {
		width: 45%
	}
	.bloque-calculadora.resultados ul.bloque-coste li:first-child {
		justify-content: left;
		padding-left: 5%;
		width: 40%
	}
	.bloque-calculadora.resultados ul.bloque-coste li:nth-child(2) {
		width: 5%
	}
}

.bloque-calculadora.resultados ul.bloque-caracteristicas {
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	padding: 0 0 0 40px
}

.bloque-calculadora.resultados ul.bloque-caracteristicas li {
	font-family: "patron", "Verdana", sans-serif;
	font-size: .9rem;
	margin-bottom: 20px;
	width: 30%
}

.bloque-calculadora.resultados ul.bloque-caracteristicas li p {
	margin: 0;
	text-align: left
}

.bloque-calculadora.resultados ul.bloque-caracteristicas li p strong {
	font-weight: 700
}

.bloque-calculadora.resultados ul.bloque-caracteristicas li:nth-child(3n+1)
	{
	width: 40%
}

.bloque-calculadora.resultados .row {
	color: #555
}

.bloque-calculadora.resultados a {
	text-decoration: none
}

.bloque-calculadora.resultados .opciones-presupuesto {
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: center
}

@media ( min-width :47em) {
	.bloque-calculadora.resultados .opciones-presupuesto {
		margin-bottom: 60px
	}
}

.bloque-calculadora.resultados .opciones-presupuesto.opcional-mayor {
	flex-direction: row-reverse
}

.bloque-calculadora.resultados .nuevo-presupuesto {
	cursor: pointer
}

.bloque-calculadora.resultados .caja-presupuesto {
	background: #f3f3f3;
	box-shadow: 0 0 15px rgba(129, 126, 126, 0.3);
	margin-bottom: 30px;
	padding-bottom: 20px;
	transition: all 500ms ease;
	width: 100%
}

@media ( min-width :47em) {
	.bloque-calculadora.resultados .caja-presupuesto {
		margin: 0 15px;
		width: 45%
	}
}

@media ( min-width :67.5em) {
	.bloque-calculadora.resultados .caja-presupuesto {
		width: 38%
	}
}

@media ( min-width :93.5em) {
	.bloque-calculadora.resultados .caja-presupuesto {
		width: 27%
	}
}

.bloque-calculadora.resultados .caja-presupuesto .info-potencia {
	border-bottom: 33px solid #656565;
	background: #393838;
	color: #fff;
	padding: 10px;
	transition: all 500ms ease
}

.bloque-calculadora.resultados .caja-presupuesto .info-potencia .titulo-presupuesto
	{
	font-weight: 700;
	font-size: 2rem;
	color: #fff;
	margin: 0;
	text-align: center
}

@media ( min-width :47em) {
	.bloque-calculadora.resultados .caja-presupuesto .info-potencia .titulo-presupuesto
		{
		font-size: 2.2rem
	}
}

@media ( min-width :67.5em) {
	.bloque-calculadora.resultados .caja-presupuesto .info-potencia .titulo-presupuesto
		{
		font-size: 2.2rem
	}
}

.bloque-calculadora.resultados .caja-presupuesto .info-potencia .bloque-datos
	{
	justify-content: center;
	padding: 10px
}

.bloque-calculadora.resultados .caja-presupuesto .info-potencia .bloque-datos li
	{
	padding: 0 10px
}

@media ( min-width :67.5em) {
	.bloque-calculadora.resultados .caja-presupuesto .info-potencia .bloque-datos li
		{
		padding: 0 15px
	}
}

.bloque-calculadora.resultados .caja-presupuesto .info-potencia .bloque-datos li:last-child
	{
	color: #fff
}

.bloque-calculadora.resultados .caja-presupuesto .info-potencia .bloque-datos li svg
	{
	margin-right: 15px
}

.bloque-calculadora.resultados .caja-presupuesto .info-potencia .bloque-datos li svg.ico-placa
	{
	height: 43px;
	width: 55px
}

.bloque-calculadora.resultados .caja-presupuesto .info-potencia .bloque-datos li svg.ico-pila
	{
	height: 43px;
	width: 23px
}

.bloque-calculadora.resultados .caja-presupuesto .info-potencia .bloque-datos li svg *
	{
	fill: #fff
}

.bloque-calculadora.resultados .caja-presupuesto .info-potencia .bloque-datos li .valor
	{
	font-weight: 300;
	font-size: 1.7rem
}

@media ( min-width :47em) {
	.bloque-calculadora.resultados .caja-presupuesto .info-potencia .bloque-datos li .valor
		{
		font-size: 1.9rem
	}
}

@media ( min-width :67.5em) {
	.bloque-calculadora.resultados .caja-presupuesto .info-potencia .bloque-datos li .valor
		{
		font-size: 1.9rem
	}
}

.bloque-calculadora.resultados .caja-presupuesto .info-potencia .bloque-datos li .descripcion
	{
	font-weight: 500;
	font-size: .9rem;
	margin: 0
}

.bloque-calculadora.resultados .caja-presupuesto.optima .info-potencia {
	border: 0
}

.bloque-calculadora.resultados .caja-presupuesto .txt-optima {
	font-weight: 900;
	font-size: .9rem;
	background: #ee162d;
	color: #fff;
	margin: 0;
	padding: 5px;
	text-align: center
}

.bloque-calculadora.resultados .caja-presupuesto .ahorro {
	background: transparent url(../../img/css/portal/puntoH.png) repeat-x 0
		100%;
	font-weight: 300;
	font-size: 1.1rem;
	color: #000;
	padding: 20px;
	text-align: center;
	transition: all 500ms ease
}

@media ( min-width :93.5em) {
	.bloque-calculadora.resultados .caja-presupuesto .ahorro {
		padding: 20px 60px
	}
}

.bloque-calculadora.resultados .caja-presupuesto .ahorro p {
	margin: 0
}

.bloque-calculadora.resultados .caja-presupuesto .ahorro strong {
	font-size: 2.7rem
}

@media ( min-width :47em) {
	.bloque-calculadora.resultados .caja-presupuesto .ahorro strong {
		font-size: 2.8rem
	}
}

@media ( min-width :67.5em) {
	.bloque-calculadora.resultados .caja-presupuesto .ahorro strong {
		font-size: 3.15rem
	}
}

.bloque-calculadora.resultados .caja-presupuesto .ahorro small {
	font-size: 1.2rem
}

.bloque-calculadora.resultados .caja-presupuesto .ahorro .anual {
	color: #00baae
}

.bloque-calculadora.resultados .caja-presupuesto .ahorro .anual span {
	letter-spacing: 5px
}

.bloque-calculadora.resultados .caja-presupuesto .ahorro .anual strong {
	font-size: 3.5rem;
	display: block;
	line-height: 1em
}

@media ( min-width :47em) {
	.bloque-calculadora.resultados .caja-presupuesto .ahorro .anual strong {
		font-size: 3.75rem
	}
}

@media ( min-width :67.5em) {
	.bloque-calculadora.resultados .caja-presupuesto .ahorro .anual strong {
		font-size: 4.8rem
	}
}

.bloque-calculadora.resultados .caja-presupuesto .ahorro .anual small {
	font-size: 1.7rem
}

@media ( min-width :47em) {
	.bloque-calculadora.resultados .caja-presupuesto .ahorro .anual small {
		font-size: 1.9rem
	}
}

@media ( min-width :67.5em) {
	.bloque-calculadora.resultados .caja-presupuesto .ahorro .anual small {
		font-size: 1.9rem
	}
}

.bloque-calculadora.resultados .caja-presupuesto .ahorro .perioro25 {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: -10px;
	padding-top: 20px;
	position: relative
}

.bloque-calculadora.resultados .caja-presupuesto .ahorro .perioro25 strong,
	.bloque-calculadora.resultados .caja-presupuesto .ahorro .perioro25 span
	{
	width: 50%
}

.bloque-calculadora.resultados .caja-presupuesto .ahorro .perioro25 strong
	{
	border-left: 1px solid #000;
	font-weight: 300;
	margin-left: 15px;
	padding-left: 15px
}

@media ( min-width :47em) {
	.bloque-calculadora.resultados .caja-presupuesto .ahorro .perioro25 strong
		{
		margin-left: 20px;
		padding-left: 20px
	}
}

.bloque-calculadora.resultados .caja-presupuesto .ahorro .perioro25:before
	{
	position: absolute;
	top: 0;
	left: 50%;
	content: '';
	background: #000;
	display: block;
	height: 1px;
	transform: translateX(-50%);
	width: 80%
}

.bloque-calculadora.resultados .caja-presupuesto .precio-final {
	padding: 20px
}

@media ( min-width :93.5em) {
	.bloque-calculadora.resultados .caja-presupuesto .precio-final {
		padding: 20px 60px 30px
	}
}

.bloque-calculadora.resultados .caja-presupuesto .precio-final .titulo-coste
	{
	font-weight: 300;
	font-size: 1.1rem;
	color: #ee162d;
	letter-spacing: 5px;
	margin-bottom: 15px;
	text-align: center;
	text-transform: uppercase
}

.bloque-calculadora.resultados .caja-presupuesto .precio-final .pagos {
	display: flex;
	justify-content: center;
	align-items: center
}

.bloque-calculadora.resultados .caja-presupuesto .precio-final .pago {
	color: #ee162d;
	line-height: 1em;
	margin: 0;
	text-align: center;
	width: 50%
}

.bloque-calculadora.resultados .caja-presupuesto .precio-final .pago>span
	{
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 300;
	font-size: 1.2rem;
	margin-bottom: 10px;
	text-align: left
}

.bloque-calculadora.resultados .caja-presupuesto .precio-final .pago>span b
	{
	font-weight: 300;
	font-size: 2.7rem;
	line-height: 1em;
	margin-right: 10px
}

@media ( min-width :47em) {
	.bloque-calculadora.resultados .caja-presupuesto .precio-final .pago>span b
		{
		font-size: 2.8rem
	}
}

@media ( min-width :67.5em) {
	.bloque-calculadora.resultados .caja-presupuesto .precio-final .pago>span b
		{
		font-size: 3.15rem
	}
}

.bloque-calculadora.resultados .caja-presupuesto .precio-final .pago>span small
	{
	font-size: .9rem;
	display: block;
	margin-bottom: 5px
}

@media ( min-width :47em) and (max-width:59em) {
	.bloque-calculadora.resultados .caja-presupuesto .precio-final .pago big
		{
		font-size: 1rem
	}
}

.bloque-calculadora.resultados .caja-presupuesto .precio-final .pago.unico
	{
	border-left: 1px solid #000;
	margin-left: 15px;
	padding-left: 15px
}

@media ( min-width :47em) {
	.bloque-calculadora.resultados .caja-presupuesto .precio-final .pago.unico
		{
		margin-left: 20px;
		padding-left: 20px
	}
}

.bloque-calculadora.resultados .caja-presupuesto .precio-final .pago.unico>span
	{
	justify-content: flex-end
}

.bloque-calculadora.resultados .caja-presupuesto .solicitar {
	margin-bottom: 30px;
	text-align: center;
	transition: all 500ms ease
}

.bloque-calculadora.resultados .caja-presupuesto .info {
	line-height: 1.5em;
	padding: 0 10px 10px
}

.bloque-calculadora.resultados .caja-presupuesto .info ul {
	margin: 0 auto 10px
}

@media ( min-width :67.5em) {
	.bloque-calculadora.resultados .caja-presupuesto .info ul {
		max-width: 75%
	}
}

.bloque-calculadora.resultados .caja-presupuesto .info ul li {
	background: transparent url(../../img/css/icono/ico-check.png) no-repeat
		0 5px;
	padding: 0 0 15px 25px
}

.bloque-calculadora.resultados .caja-presupuesto .info ul li:nth-last-child(-n+2)
	{
	display: none
}

.bloque-calculadora.resultados .caja-presupuesto .info ul.visible li:nth-last-child(-n+2)
	{
	display: block
}

.bloque-calculadora.resultados .caja-presupuesto .info .leer-mas {
	font-size: .8rem;
	text-align: center
}

.bloque-calculadora.resultados .caja-presupuesto .info .leer-mas:before
	{
	display: none
}

.bloque-calculadora.resultados .caja-presupuesto .info .leer-mas b {
	display: inline-block;
	cursor: pointer
}

.bloque-calculadora.resultados .caja-presupuesto .ver-condiciones {
	text-align: center
}

.bloque-calculadora.resultados .caja-presupuesto .ver-condiciones .boton
	{
	font-weight: 700;
	font-size: .8rem;
	border: 1px solid #dcdcdc;
	box-shadow: none;
	color: #000;
	padding: 10px 30px
}

.bloque-calculadora.resultados .caja-presupuesto .ver-condiciones a,
	.bloque-calculadora.resultados .caja-presupuesto .solicitar a {
	pointer-events: visible
}

.bloque-calculadora.resultados .caja-presupuesto:not (.activa ){
	background: #fff;
	color: #afafaf;
	cursor: pointer;
	opacity: .5
}

.bloque-calculadora.resultados .caja-presupuesto:not (.activa ) .info-potencia,
	.bloque-calculadora.resultados .caja-presupuesto:not (.activa ) .ahorro,
	.bloque-calculadora.resultados .caja-presupuesto:not (.activa ) .ahorro .anual,
	.bloque-calculadora.resultados .caja-presupuesto:not (.activa ) .precio-final .pago,
	.bloque-calculadora.resultados .caja-presupuesto:not (.activa ) .titulo-presupuesto,
	.bloque-calculadora.resultados .caja-presupuesto:not (.activa ) .titulo-coste,
	.bloque-calculadora.resultados .caja-presupuesto:not (.activa ) .bloque-datos li:last-child
	{
	color: #afafaf
}

.bloque-calculadora.resultados .caja-presupuesto:not (.activa ) .info-potencia
	{
	background: #fff
}

.bloque-calculadora.resultados .caja-presupuesto:not (.activa ) .info-potencia .bloque-datos li svg *
	{
	fill: #afafaf
}

.bloque-calculadora.resultados .caja-presupuesto:not (.activa ) .ahorro .perioro25:before
	{
	background: #afafaf
}

.bloque-calculadora.resultados .caja-presupuesto:not (.activa ) .info-potencia
	{
	border-color: #f8f8f8
}

.bloque-calculadora.resultados .caja-presupuesto:not (.activa ) .ahorro .perioro25 strong,
	.bloque-calculadora.resultados .caja-presupuesto:not (.activa ) .precio-final .pago.unico
	{
	border-color: #afafaf
}

.bloque-calculadora.resultados .caja-presupuesto:not (.activa ) .leer-mas
	{
	position: relative
}

.bloque-calculadora.resultados .caja-presupuesto:not (.activa ) .leer-mas:before
	{
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(255, 255, 255, 0.2);
	content: '';
	display: block;
	height: 100%;
	width: 100%
}

.bloque-calculadora.resultados .caja-presupuesto:not (.activa ) .solicitar
	{
	opacity: 0
}

.bloque-calculadora.resultados .caja-presupuesto:not (.activa ) .ver-condiciones a,
	.bloque-calculadora.resultados .caja-presupuesto:not (.activa ) .solicitar a
	{
	pointer-events: none
}

.bloque-calculadora #abandonar-simulacion {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.7);
	box-sizing: border-box;
	height: 100%;
	opacity: 0;
	padding: 20px;
	transition: opacity 500ms 500ms linear;
	visibility: hidden;
	width: 100%;
	z-index: 2
}

.bloque-calculadora #abandonar-simulacion .caja-alerta {
	background: #fff;
	border-radius: 8px;
	box-shadow: 0 0 13px rgba(0, 0, 0, 0.08);
	padding: 20px;
	text-align: center;
	transform: translate(0, 100vh);
	transition: transform 500ms ease;
	max-width: 625px
}

@media ( min-width :47em) {
	.bloque-calculadora #abandonar-simulacion .caja-alerta {
		padding: 20px 10px
	}
}

.bloque-calculadora #abandonar-simulacion .caja-alerta>.cerrar {
	cursor: pointer;
	display: block;
	margin-bottom: 20px;
	text-align: right
}

.bloque-calculadora #abandonar-simulacion .caja-alerta>.cerrar:before {
	font-family: fontello;
	font-size: 2rem;
	color: #000;
	content: ""
}

.bloque-calculadora #abandonar-simulacion h2 {
	font-size: 1.35rem;
	margin: 0 auto 25px
}

@media ( min-width :47em) {
	.bloque-calculadora #abandonar-simulacion h2 {
		font-size: 1.55rem
	}
}

@media ( min-width :67.5em) {
	.bloque-calculadora #abandonar-simulacion h2 {
		font-size: 1.55rem
	}
}

@media ( min-width :47em) {
	.bloque-calculadora #abandonar-simulacion h2 {
		max-width: 60%
	}
}

.bloque-calculadora #abandonar-simulacion p {
	color: #909090;
	font-size: 1.1rem;
	padding: 0
}

.bloque-calculadora #abandonar-simulacion p.botones {
	font-weight: 500;
	font-size: .9rem;
	margin-top: 50px;
	padding: 0 20px
}

@media ( max-width :47em) {
	.bloque-calculadora #abandonar-simulacion p.botones {
		display: block
	}
}

@media ( max-width :47em) {
	.bloque-calculadora #abandonar-simulacion p.botones .boton:first-child {
		margin-bottom: 20px
	}
}

.bloque-calculadora #abandonar-simulacion p.botones span {
	cursor: pointer
}

.bloque-calculadora #abandonar-simulacion.visible {
	opacity: 1;
	transition: transform 500ms ease;
	visibility: visible
}

.bloque-calculadora #abandonar-simulacion.visible .caja-alerta {
	transform: translate(0, 0);
	transition: transform 500ms 500ms ease
}

.bloque-calculadora .caja-contacto {
	background: #fff;
	box-shadow: 0 0 10px rgba(85, 85, 85, 0.7);
	margin: 0 auto 60px;
	max-width: 600px;
	padding: 20px 20px 40px
}

.bloque-calculadora .caja-contacto .direccion-presupuesto {
	font-weight: 700;
	font-size: 1.35rem;
	margin: 0 0 30px;
	opacity: 1;
	text-align: center;
	transition: all .5s ease
}

@media ( min-width :47em) {
	.bloque-calculadora .caja-contacto .direccion-presupuesto {
		font-size: 1.55rem
	}
}

@media ( min-width :67.5em) {
	.bloque-calculadora .caja-contacto .direccion-presupuesto {
		font-size: 1.55rem
	}
}

.bloque-calculadora .caja-contacto .direccion-presupuesto.ocultar {
	opacity: 0
}

.bloque-calculadora .caja-contacto #lapiz {
	cursor: pointer;
	margin-left: 20px
}

.bloque-calculadora .caja-contacto #lapiz:before {
	font-family: fontello;
	font-size: 1.3rem;
	color: #555;
	content: ""
}

.bloque-calculadora .caja-contacto #lapiz:hover::before {
	color: #ee162d
}

.bloque-calculadora .caja-contacto .editar-direccion {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	height: 0;
	left: 0;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	top: -65px;
	transition: all .5s ease;
	width: 100%;
	z-index: 1
}

.bloque-calculadora .caja-contacto .editar-direccion input {
	border: 0;
	border-bottom: 1px solid #ee162d;
	font-size: 1.2rem;
	color: #555;
	height: 30px;
	padding: 0 0 5px;
	width: 100%
}

.bloque-calculadora .caja-contacto .editar-direccion.mostrar {
	height: auto;
	opacity: 1
}

.bloque-calculadora .caja-contacto .editar-direccion.mostrar::before {
	background: rgba(255, 255, 255, 0.8);
	content: "";
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: -1
}

.bloque-calculadora .caja-contacto .editar-direccion #cerrar,
	.bloque-calculadora .caja-contacto .editar-direccion #aceptar {
	cursor: pointer;
	margin-top: 30px
}

.bloque-calculadora .caja-contacto h3 {
	background: 0;
	padding: 0
}

.bloque-calculadora .caja-contacto form {
	max-width: 480px;
	margin: auto
}

.bloque-calculadora .caja-contacto form .enviar {
	margin: auto
}

.bloque-calculadora .caja-contacto .row {
	display: flex;
	align-items: baseline;
	margin: 0 auto 20px;
	position: relative;
	text-align: left
}

.bloque-calculadora .caja-contacto .row label {
	font-weight: 700;
	font-size: .8rem;
	color: #54b9ad;
	display: none;
	left: 10px;
	position: absolute;
	top: 3px
}

.bloque-calculadora .caja-contacto .row label .asterisco {
	display: none
}

.bloque-calculadora .caja-contacto .row label a {
	color: #ee162d
}

.bloque-calculadora .caja-contacto .row label a::hover {
	color: #000
}

.bloque-calculadora .caja-contacto .row input {
	border-radius: 10px;
	box-shadow: 0 0 5px rgba(85, 85, 85, 0.2);
	color: #909090;
	padding: 12px 10px 13px
}

.bloque-calculadora .caja-contacto .row input#nombre,
	.bloque-calculadora .caja-contacto .row input#apellidos,
	.bloque-calculadora .caja-contacto .row input#email {
	width: 100%
}

.bloque-calculadora .caja-contacto .row input[type='checkbox'] {
	margin-right: 10px
}

.bloque-calculadora .caja-contacto .row input::placeholder {
	color: #909090
}

.bloque-calculadora .caja-contacto .row input:not (:placeholder-shown ){
	padding: 20px 10px 5px
}

.bloque-calculadora .caja-contacto .row span {
	flex: 1
}

@media ( min-width :31em) {
	.bloque-calculadora .caja-contacto .row.nombre {
		margin-bottom: 0;
		margin-right: 15px;
		float: left;
		width: 38%
	}
}

.bloque-calculadora .caja-contacto .row.checkbox label {
	display: flex;
	justify-content: flex-start;
	align-items: baseline;
	color: #555;
	position: relative
}

.bloque-calculadora .caja-contacto .row.checkbox span {
	flex: auto
}

.bloque-calculadora .caja-contacto #textoProteccionDatos {
	font-size: .9rem;
	height: 0;
	opacity: 0;
	overflow: hidden;
	text-align: justify;
	transition: all .5s ease
}

.bloque-calculadora .caja-contacto #textoProteccionDatos p {
	text-align: justify
}

.bloque-calculadora .caja-contacto #textoProteccionDatos ul {
	list-style: inside;
	margin-bottom: 20px
}

.bloque-calculadora .caja-contacto #textoProteccionDatos ul li {
	list-style-type: inherit
}

.bloque-calculadora .caja-contacto #textoProteccionDatos.mostrar {
	height: 100%;
	opacity: 1;
	transition: all 1.5s ease
}

.bloque-calculadora.paso-dos {
	min-width: 50%;
	position: relative
}

@media ( min-width :93.5em) {
	.bloque-calculadora.paso-dos {
		min-width: 35%;
		width: 800px
	}
}

.bloque-calculadora.paso-dos form {
	background: #fff;
	border-radius: 10px;
	max-width: 100%
}

.bloque-calculadora.paso-dos .direccion {
	background-position: 10px 10px;
	border-radius: 10px;
	margin: 0;
	padding: 15px 50px 15px 40px;
	width: 100%
}

@media ( min-width :93.5em) {
	.bloque-calculadora.paso-dos .direccion {
		background-position: 20px 15px;
		border-radius: 10px;
		padding: 20px 60px 20px 60px
	}
}

.bloque-calculadora.paso-dos .buscar {
	background-color: #54b9ad;
	border: 0;
	border-radius: 40px;
	cursor: pointer;
	font-family: fontello;
	font-weight: 100;
	font-size: .9rem;
	min-width: 0;
	padding: 10px;
	position: absolute;
	right: 10px;
	top: 8px;
	width: auto
}

@media ( min-width :93.5em) {
	.bloque-calculadora.paso-dos .buscar {
		right: 20px;
		top: 13px
	}
}

@media ( hover :hover) {
	.bloque-calculadora.paso-dos .buscar:hover {
		background-color: #555;
		color: #fff
	}
}

.bloque-calculadora.paso-dos .botones {
	text-align: center
}

.bloque-calculadora.paso-dos .botones #volver-dibujar,
	.bloque-calculadora.paso-dos .botones #continuar-paso-uno {
	display: none
}

.bloque-calculadora.paso-dos .botones #dibujar {
	width: 100%
}

.bloque-calculadora.paso-dos .botones #cancelar {
	display: none;
	width: 100%
}

@media ( min-width :59em) {
	.bloque-calculadora.paso-dos .botones #dibujar {
		display: none
	}
}

.bloque-calculadora.paso-dos .container-fluid {
	margin-top: 80px
}

@media ( min-width :47em) {
	.bloque-calculadora.paso-dos .container-fluid {
		margin-top: 120px
	}
}

@media ( min-width :67.5em) {
	.bloque-calculadora.paso-dos .container-fluid {
		margin-top: 150px
	}
}

.bloque-calculadora.buscador {
	position: relative;
	max-width: 800px;
	width: 100%
}

.bloque-calculadora.buscador #map {
	height: 0;
	min-height: 0
}

.bloque-calculadora.buscador #map.after {
	content: none
}

.bloque-calculadora.buscador-home {
	position: relative;
	max-width: 1024px;
	width: 100%
}

.bloque-calculadora.buscador-home .direccion {
	width: 100%
}

.bloque-calculadora.buscador-home .buscar {
	min-width: inherit
}

.bloque-calculadora.buscador-home #map {
	height: 0;
	min-height: 0
}

.panel {
	background: #fff
}

.slidecontainer {
	margin: 20px auto;
	width: 80%
}

@media ( min-width :93.5em) {
	.slidecontainer {
		width: 60%
	}
}

.slidecontainer #valorImporte {
	font-weight: 700;
	font-size: 2.7rem;
	color: #54b9ad;
	text-align: center
}

@media ( min-width :47em) {
	.slidecontainer #valorImporte {
		font-size: 2.8rem
	}
}

@media ( min-width :67.5em) {
	.slidecontainer #valorImporte {
		font-size: 3.15rem
	}
}

.slidecontainer .slider {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 10px;
	border: 0;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(85, 85, 85, 0.3);
	padding: 0;
	background: -webkit-gradient(linear, left top, right top, color-stop(0.15, #54b9ad),
		color-stop(0.15, #fff));
	outline: 0;
	-webkit-transition: .2s;
	transition: opacity .2s
}

.slidecontainer .slider:hover {
	opacity: 1
}

.slidecontainer .slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	border-color: #54b9ad;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	background: #54b9ad;
	cursor: pointer
}

.slidecontainer .slider::-moz-range-thumb {
	border-color: #54b9ad;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	background: #54b9ad;
	cursor: pointer
}

.slidecontainer .slider::-ms-track {
	background: trasparente;
	border-color: transparent;
	color: transparent
}

.slidecontainer .slider::-ms-fill-upper {
	background: #fff;
	border-color: transparent;
	border-radius: 6px
}

.slidecontainer .slider::-ms-fill-lower {
	background: #54b9ad;
	border-color: transparent;
	border-radius: 6px
}

.slidecontainer .slider::-ms-thumb {
	background: #54b9ad;
	border-color: #fff;
	border-radius: 50%
}

.confirmacion {
	background: 0;
	padding: 0 30px 50px 30px;
	text-align: center
}

.confirmacion h2 {
	font-family: "patron", "Verdana", sans-serif;
	font-size: 1.2rem;
	margin: 0
}

.confirmacion p {
	font-family: "patron", "Verdana", sans-serif;
	margin: 10px auto;
	max-width: 450px
}

.confirmacion.titulo {
	padding: 20px 30px 10px 30px
}

#cboxLoadedContent {
	background: #fff
}

footer {
	margin-top: 40px
}

.selector-tipo {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 40px;
	padding: 0 5%;
	width: 90%
}

.selector-tipo input {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	margin: 0;
	padding: 0
}

.selector-tipo input:active+.opcion-cliente {
	color: #ee162d
}

.selector-tipo input:active+.opcion-cliente span {
	border-color: rgba(238, 22, 45, 0.8);
	box-shadow: 0 0 12px rgba(238, 22, 45, 0.4)
}

.selector-tipo input:active+.opcion-cliente span.particulares {
	background-image: url("../../img/css/aplicacion/unifamiliar-activo.png")
}

.selector-tipo input:active+.opcion-cliente span.empresas {
	background-image: url("../../img/css/aplicacion/negocio-activo.png")
}

.selector-tipo input:active+.opcion-cliente span.comunidades {
	background-image: url("../../img/css/aplicacion/comunidad-activo.png")
}

.selector-tipo input:checked+.opcion-cliente {
	color: #ee162d
}

.selector-tipo input:checked+.opcion-cliente span {
	border-color: rgba(238, 22, 45, 0.8);
	box-shadow: 0 0 12px rgba(238, 22, 45, 0.4)
}

.selector-tipo input:checked+.opcion-cliente span.particulares {
	background-image: url("../../img/css/aplicacion/unifamiliar-activo.png")
}

.selector-tipo input:checked+.opcion-cliente span.empresas {
	background-image: url("../../img/css/aplicacion/negocio-activo.png")
}

.selector-tipo input:checked+.opcion-cliente span.comunidades {
	background-image: url("../../img/css/aplicacion/comunidad-activo.png")
}

.selector-tipo input[type="radio"] {
	display: none
}

.opcion-cliente {
	font-weight: 700;
	font-size: .9rem;
	-webkit-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	-ms-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
	color: #000;
	cursor: pointer;
	display: inline-block;
	text-align: center
}

.opcion-cliente span {
	background: transparent none no-repeat center;
	background-size: contain;
	-webkit-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	-ms-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
	border: 1px solid transparent;
	border-radius: 50%;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
	display: inline-block;
	margin: 0 2% 10px;
	padding: 40px
}

@media ( min-width :47em) {
	.opcion-cliente span {
		padding: 60px;
		background-size: auto
	}
}

@media ( min-width :75em) {
	.opcion-cliente span {
		padding: 60px
	}
}

.opcion-cliente span.particulares {
	background-image: url("../../img/css/aplicacion/unifamiliar.png")
}

.opcion-cliente span.empresas {
	background-image: url("../../img/css/aplicacion/negocio.png")
}

.opcion-cliente span.comunidades {
	background-image: url("../../img/css/aplicacion/comunidad.png")
}

.opcion-cliente:hover {
	color: #ee162d
}

.opcion-cliente:hover span {
	border-color: rgba(238, 22, 45, 0.8);
	box-shadow: 0 0 12px rgba(238, 22, 45, 0.4)
}

.opcion-cliente:hover span.particulares {
	background-image: url("../../img/css/aplicacion/unifamiliar-activo.png")
}

.opcion-cliente:hover span.empresas {
	background-image: url("../../img/css/aplicacion/negocio-activo.png")
}

.opcion-cliente:hover span.comunidades {
	background-image: url("../../img/css/aplicacion/comunidad-activo.png")
}

.cliente-urbanizacion {
	padding-top: 10px;
	height: 40px;
	overflow: hidden;
	transition: height 1s ease;
	transition-delay: unset
}

.cliente-urbanizacion label {
	cursor: pointer;
	opacity: 1;
	transition: all 500ms ease;
	transition-delay: 500ms
}

.cliente-urbanizacion input {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	border: 0
}

.cliente-urbanizacion input:before {
	font-family: fontello;
	font-size: 1rem;
	color: #e6e6e6;
	content: ""
}

.cliente-urbanizacion input:before {
	border: 1px solid #e6e6e6;
	border-radius: 50%;
	padding: 10px
}

.cliente-urbanizacion input:active:before {
	border-color: #ee162d;
	color: #ee162d
}

.cliente-urbanizacion input:checked:before {
	border-color: #ee162d;
	color: #ee162d
}

.cliente-urbanizacion.ocultar {
	height: 0;
	transition-delay: 500ms
}

.cliente-urbanizacion.ocultar label {
	opacity: 0;
	transition-delay: unset
}

.selector-orientacion {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 50px 0 30px;
	position: relative
}

.selector-orientacion .rs-container {
	background: transparent url("../../img/css/aplicacion/orientacion.png")
		no-repeat center;
	background-size: cover
}

.selector-orientacion .rs-container .rs-path-color {
	background: transparent
}

.selector-orientacion .rs-container .rs-border {
	border: 0
}

.selector-orientacion .rs-container .rs-handle {
	background: #ffcd07
		url("../../img/css/aplicacion/flecha-orientacion.png") no-repeat
		center;
	background-size: contain
}

.texto-orientacion {
	font-weight: 700;
	font-size: .9rem;
	position: absolute;
	height: 130px;
	left: 44px;
	top: -20px;
	width: 270px
}

.texto-orientacion .oeste {
	position: absolute;
	top: 0;
	left: 0
}

.texto-orientacion .este {
	position: absolute;
	top: 0;
	right: 10px
}

.texto-orientacion .sur {
	position: absolute;
	bottom: 0;
	left: 125px
}

.texto-orientacion img {
	margin-top: -20px;
	position: relative;
	z-index: 10
}

@media ( min-width :47em) {
	.texto-orientacion {
		left: 44px
	}
}

@media ( min-width :59em) {
	.texto-orientacion {
		left: 125px
	}
}

@media ( max-width :370px) {
	.texto-orientacion {
		left: 24px
	}
}

*::-ms-backdrop, .texto-orientacion {
	left: 54px
}

@media ( min-width :59em) {
	*::-ms-backdrop, .texto-orientacion {
		left: 125px
	}
}

_:-ms-lang(x), _:-webkit-full-screen, .texto-orientacion {
	left: 60px
}

@media ( min-width :59em) {
	_:-ms-lang(x), _:-webkit-full-screen, .texto-orientacion {
		left: 125px
	}
}

.selector-inclinacion {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 40px;
	width: 100%
}

.selector-inclinacion input {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	margin: 0;
	padding: 0
}

.selector-inclinacion input:active+.opcion-inclinacion {
	box-shadow: 0 0 10px #555
}

.selector-inclinacion input:checked+.opcion-inclinacion {
	box-shadow: 0 0 10px #ee162d
}

.selector-inclinacion input[type="radio"] {
	display: none
}

.opcion-inclinacion {
	background: transparent none no-repeat center;
	background-size: contain;
	font-weight: 700;
	font-size: .9rem;
	-webkit-transition: all 100ms ease-in;
	-moz-transition: all 100ms ease-in;
	-ms-transition: all 100ms ease-in;
	-o-transition: all 100ms ease-in;
	transition: all 100ms ease-in;
	border-radius: 50%;
	box-shadow: 0 0 10px rgba(85, 85, 85, 0.5);
	cursor: pointer;
	display: inline-block;
	margin: 0 2%;
	padding: 0;
	text-align: center;
	height: 75px;
	width: 75px
}

@media ( min-width :59em) {
	.opcion-inclinacion {
		height: 85px;
		width: 85px
	}
}

.opcion-inclinacion.cero {
	background-image: url("../../img/css/aplicacion/inclinacion-cero.png")
}

.opcion-inclinacion.treinta {
	background-image: url("../../img/css/aplicacion/inclinacion-30.png")
}

.opcion-inclinacion.sesenta {
	background-image: url("../../img/css/aplicacion/inclinacion-60.png")
}

.opcion-inclinacion:hover {
	box-shadow: 0 0 10px #555
}

.selector-curva-consumo {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 75px;
	padding: 0 20px;
	position: relative
}

@media ( min-width :59em) {
	.selector-curva-consumo {
		margin-top: 100px
	}
}

.selector-curva-consumo input {
	margin: 0 5px 0 0;
	padding: 0
}

.selector-curva-consumo.opcion-finde {
	margin-top: 20px
}

.selector-curva-consumo.opcion-finde label:before {
	height: 0;
	width: 0
}

.selector-curva-consumo .manana:before {
	background-image: url("../../img/css/aplicacion/manana.png")
}

.selector-curva-consumo .tarde:before {
	background-image: url("../../img/css/aplicacion/tarde.png")
}

.selector-curva-consumo .noche:before {
	background-image: url("../../img/css/aplicacion/noche.png")
}

.selector-curva-consumo .madrugada:before {
	background-image: url("../../img/css/aplicacion/madrugada.png")
}

.selector-curva-consumo .manana-on:before {
	background-image: url("../../img/css/aplicacion/manana-on.png")
		!important
}

.selector-curva-consumo .tarde-on:before {
	background-image: url("../../img/css/aplicacion/tarde-on.png")
		!important
}

.selector-curva-consumo .noche-on:before {
	background-image: url("../../img/css/aplicacion/noche-on.png")
		!important
}

.selector-curva-consumo .madrugada-on:before {
	background-image: url("../../img/css/aplicacion/madrugada-on.png")
		!important
}

.opcion-curva-consumo {
	font-weight: 700;
	font-size: .8rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 2%;
	position: relative;
	width: 100%
}

@media ( min-width :59em) {
	.opcion-curva-consumo {
		font-size: .9rem
	}
}

.opcion-curva-consumo:before {
	background: transparent none no-repeat center;
	background-size: contain;
	bottom: 20px;
	content: "";
	height: 70px;
	position: absolute;
	width: 60px
}

@media ( min-width :59em) {
	.opcion-curva-consumo:before {
		height: 90px;
		width: 100px
	}
}

.bola-pre1, .bola-pre2, .bola-pre3, .bola-contact1, .bola-contact2,
	.bola-contact3, .bola-contact4, .resultados h3:after, .resultados h3:before
	{
	border-radius: 100%;
	content: '';
	display: block;
	position: absolute;
	background: rgba(255, 255, 0, 0.2);
	background: -moz-radial-gradient(center, ellipse cover, white 0, rgba(244, 238, 123,
		0.42) 100%);
	background: -webkit-gradient(radial, center center, 0, center center, 100%,
		color-stop(0, rgba(255, 255, 0, 0.2)),
		color-stop(100%, rgba(244, 238, 123, 0.42)));
	background: -webkit-radial-gradient(center, ellipse cover, white 0, rgba(244, 238,
		123, 0.42) 100%);
	background: -o-radial-gradient(center, ellipse cover, white 0, rgba(244, 238, 123,
		0.42) 100%);
	background: -ms-radial-gradient(center, ellipse cover, white 0, rgba(244, 238, 123,
		0.42) 100%);
	background: radial-gradient(ellipse at center, white 0, rgba(244, 238, 123, 0.42)
		100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',
		endColorstr='#f4ee7b', GradientType=1);
	z-index: -1
}

.bola-contact1 {
	top: 0;
	right: 25%;
	height: 27px;
	width: 27px;
	animation-delay: 2s;
	animation: animacion-bolas 20s alternate infinite;
	animation-name: animacion-bolas
}

@
keyframes animacion-bolas { 0{
	transform: translateY(0)
}

25%{
transform
:translateY(-30px)
}
50%{
transform
:translateY(20px)
}
100%{
transform
:translateY(0)
}
}
.bola-contact2 {
	top: 20px;
	right: 21%;
	height: 60px;
	width: 60px;
	animation-delay: 0;
	animation: animacion-bolas2 50s alternate infinite;
	animation-name: animacion-bolas2
}

@
keyframes animacion-bolas2 { 0{
	transform: translateY(0)
}

25%{
transform
:translateY(100px)
}
50%{
transform
:translateY(50px)
}
100%{
transform
:translateY(0)
}
}
.bola-contact3 {
	top: 130px;
	left: 25%;
	height: 250px;
	width: 250px;
	animation-delay: 2s;
	animation: animacion-bolas3 60s alternate infinite;
	animation-name: animacion-bolas3
}

@
keyframes animacion-bolas3 { 0{
	transform: translateY(0)
}

25%{
transform
:translateY(100px)
}
50%{
transform
:translateY(-50px)
}
100%{
transform
:translateY(0)
}
}
.bola-contact4 {
	top: 200px;
	right: 20%;
	height: 600px;
	width: 600px;
	animation-delay: 0;
	animation: animacion-bolas4 80s alternate infinite;
	animation-name: animacion-bolas4
}

@
keyframes animacion-bolas4 { 0{
	transform: translateY(0)
}

25%{
transform
:translateY(-120px)
}
50%{
transform
:translateY(-60px)
}
100%{
transform
:translateY(0)
}
}
.bola-pre1 {
	top: 20px;
	left: 21%;
	height: 50px;
	width: 50px;
	animation-delay: 0;
	animation: animacion-bolas-pre1 20s alternate infinite;
	animation-name: animacion-bolas-pre1
}

@
keyframes animacion-bolas-pre1 { 0{
	transform: translateY(0)
}

25%{
transform
:translateY(-30px)
}
50%{
transform
:translateY(-20px)
}
100%{
transform
:translateY(0)
}
}
.bola-pre2 {
	top: 130px;
	left: 25%;
	height: 200px;
	width: 200px;
	animation-delay: 2s;
	animation: animacion-bolas-pre2 60s alternate infinite;
	animation-name: animacion-bolas-pre2
}

@
keyframes animacion-bolas-pre2 { 0{
	transform: translateY(0)
}

25%{
transform
:translateY(-100px)
}
50%{
transform
:translateY(-50px)
}
100%{
transform
:translateY(0)
}
}
.bola-pre3 {
	top: 50px;
	right: 20%;
	height: 600px;
	width: 600px;
	animation-delay: 0;
	animation: animacion-bolas-pre3 80s alternate infinite;
	animation-name: animacion-bolas-pre3
}

@
keyframes animacion-bolas-pre3 { 0{
	transform: translateY(0)
}

25%{
transform
:translateY(70px)
}
50%{
transform
:translateY(40px)
}
100%{
transform
:translateY(0)
}
}
#popup_container.alert {
	border-radius: 10px
}

#popup_panel span {
	background: #ee162d;
	border-radius: 20px
}