<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='edp-site.site'}"></sly>
</sly>
<h2>${properties.title}</h2>
<div>
<select id="plantaGaraje" name="plantaGaraje"
				class="selectpicker form-control volatilData" data-block="4"
				tabindex="-98">
				<option value="0">Seleccione...</option>
				<option value="1">-3</option>
				<option value="2">-2</option>
				<option value="3">-1</option>
				<option value="4">0</option>
				<option value="5">1</option>
				<option value="6">2</option>
				<option value="7">3</option>

            </select>
            
<div>
<div data-sly-resource="${'button' @ resourceType='edp-site/components/content/button'}"></div>
</div>