.link-sm-lopd {
	color: #5b8024;
}

.link-sm-lopd:hover {
	color: #5b8024;
	font-weight:bold;
}

.contenedor-smartMobility-cabecera{
    background-image: url('../imgs/fondo-principal.png');
    background-repeat: no-repeat;
    background-position: right;
    min-height: 500px;
}

.contenedor-smartMobility-cabecera .titulo{
    margin: 50px 0 0 0;
    padding-left: 90px;
}
.contenedor-smartMobility-cabecera h2{
    font-size: 5rem;
    text-align: left;
    
}
.contenedor-smartMobility-cabecera p{
    font-size: 1.6rem;
}

.contenedor-smartMobility-seccion1{
    margin: 50px 0 50px 0px;
}

.contenedor-smartMobility-cabecera-img .cabecera-tablet{
	display: none;
}
.contenedor-smartMobility-cabecera-img .cabecera-mobile{
	display: none;
}

.contenedor-smartMobility-seccion1  .oportunidad-mobile{
	display:none;
}

.contenedor-smartMobility-seccion1  .presupuesto-mobile{
	display:none;
}

	.texto-presupuesto, .texto-oportunidad{
		margin:0;
	}

.contenedor-smartMobility-elige{
    margin-top: 50px;
}

.a-label-reenviar {
	color: black;
	text-decoration: underline;
} 

.formulario-titulo{
	font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #4a4a4a;
    margin: 50px 0 15px 0;
}

.formulario-subtitulo{
	margin: 20px 0 20px 0;
}

.button-text {
	font-size: 15px;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #8abd37;
}

.button-text:hover {
	font-weight: bold;
}

.titulo-precio-oculto{
	z-index:9;
}

.button-img{
	margin-left: 10px;
	width:2%;
}

.button-img2{
	width: 4%;
    margin-top: 7px;
    margin-right: 10px;
    float: right;
}

.img-panel{
	margin-top:25px;
	background: #ee162d;
}

.contenedor-smartMobility-elige .elige1, .contenedor-smartMobility-elige .elige2, .contenedor-smartMobility-elige .elige3, .contenedor-smartMobility-elige .elige4{
    border: 1px solid #dbdbdb;
    padding-top: 25px;
    height: 200px;
    display: block;
    padding: 25px 5px 5px 5px;
    border-radius:5px;
    height: 250px;
}
.contenedor-smartMobility-elige .elige1:hover, .contenedor-smartMobility-elige .elige2:hover, .contenedor-smartMobility-elige .elige3:hover, .contenedor-smartMobility-elige .elige4:hover{
    cursor: pointer;
    border: solid 2px #ee162d;
    box-shadow: 0 6px 9px 0 rgba(158, 158, 158, 0.32);
}

.contenedor-smartMobility-distancia{
    display: none;
    margin-bottom: 60px;
}
.contenedor-smartMobility-planta-contador{
    display: none;
    margin-bottom: 60px;
}
.contenedor-smartMobility-planta-garaje{
    display: none;
    margin-bottom: 60px;
}
.contenedor-smartMobility-recarga{
    display: none;
    margin-bottom: 60px;
}
.contenedor-smartMobility-precio{
    display: none;
    margin-bottom: 40px;
}
.contenedor-smartMobility-presupuesto {
    display: none;
    margin-bottom: 60px;
}
.contenedor-smartMobility-solicita{
    display: none;
    margin-bottom: 60px;
}
.contenedor-smartMobility-precio .imagen-oculta{
	padding-top:0;
	cursor:pointer;
}
.contenedor-smartMobility-solicita div.row{
	width: 80%;
    left: 10%;
    position: relative; 
}

.contenedor-smartMobility-recarga .recarga1, .contenedor-smartMobility-recarga .recarga2, .contenedor-smartMobility-recarga .recarga3, .contenedor-smartMobility-recarga .recarga4{
    border: 1px solid #dbdbdb;
    padding-top: 25px;
    height: 600px;
    display: block;
    border-radius:5px;
    background-color:#fff;
}
.contenedor-smartMobility-recarga .recarga1:hover, .contenedor-smartMobility-recarga .recarga2:hover, .contenedor-smartMobility-recarga .recarga3:hover, .contenedor-smartMobility-recarga .recarga4:hover{
    cursor: pointer;
    border: solid 2px #ee162d;
    box-shadow: 0 6px 9px 0 rgba(158, 158, 158, 0.32);
}
.contenedor-smartMobility-recarga .dispositivos{
    margin-top: 100px;
}

.contenedor-smartMobility-recarga .dispositivos .precio-punto-recarga{
    height: 105px;
    background-color: #F9F9F9;
    display: block;
    bottom: 1px;
    position: absolute;
    width: calc(100% - 22px);
    border-radius: 0 0 5px 5px;
}

.contenedor-smartMobility-recarga .recarga1.selected > span.precio-punto-recarga, 
.contenedor-smartMobility-recarga .recarga2.selected > span.precio-punto-recarga, 
.contenedor-smartMobility-recarga .recarga3.selected > span.precio-punto-recarga, 
.contenedor-smartMobility-recarga .recarga4.selected > span.precio-punto-recarga{
    bottom: 2px;
    width: calc(100% - 24px);
}

.contenedor-smartMobility-recarga .recarga1:hover > span.precio-punto-recarga, 
.contenedor-smartMobility-recarga .recarga2:hover > span.precio-punto-recarga, 
.contenedor-smartMobility-recarga .recarga3:hover > span.precio-punto-recarga, 
.contenedor-smartMobility-recarga .recarga4:hover > span.precio-punto-recarga{
    margin-bottom: 2px;
    width: calc(100% - 24px);
}

.contenedor-smartMobility-recarga .img-dispositivos{
    margin-top: -100px;
}

.contenedor-smartMobility-elige h4{
    margin-top: 20px;
}
.contenedor-smartMobility-presupuesto .presupuesto1, .contenedor-smartMobility-presupuesto .presupuesto2{
    border: 1px solid #dbdbdb;
    padding-top: 25px;
    height: 200px;
    border-radius:5px;
    display: block;
}
.contenedor-smartMobility-presupuesto .presupuesto1:hover, .contenedor-smartMobility-presupuesto .presupuesto2:hover{
    cursor: pointer;
    border: solid 2px #ee162d;
    box-shadow: 0 6px 9px 0 rgba(158, 158, 158, 0.32);
}

.contenedor-smartMobility-precio .punto-recarga, .contenedor-smartMobility-precio .precio-instalacion{
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: 30px;
}
.contenedor-smartMobility-precio .punto-recarga{
    border-right: 1px solid #dbdbdb;
}
.contenedor-smartMobility-precio .precio-final{
    margin-top: 30px;
}

.contenedor-smartMobility-precio .precio-incluye{
    border-top: solid 1px #dbdbdb;
    border-bottom: solid 1px #dbdbdb;
    margin-top: 25px;
    margin-bottom: 20px;
}

.contenedor-smartMobility-precio .precio-oculto-1a{
    display: none;
    margin: 0 20px;
}

.contenedor-smartMobility-precio .precio-oculto-1b{
    display: none;
    margin: 0 20px;
}

.contenedor-smartMobility-precio .precio-oculto-1c{
    display: none;
    margin: 0 20px;
}

.contenedor-smartMobility-elige span.selected, .contenedor-smartMobility-recarga span.selected, .contenedor-smartMobility-presupuesto span.selected{
    border: solid 2px #ee162d;
    box-shadow: 0 6px 9px 0 rgba(158, 158, 158, 0.32);
}

.wcom-button.button-trans-light:active, .wcom-button.button-trans-light:hover, .wcom-button.button-trans-light:focus {
    border: 1px solid #ee162d !important;
}

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
}
.vertical-align-center {
    display: table-cell;
    vertical-align: middle;
}

.modal-content {
    margin: 0 auto;
    /*width: 940px;*/
    /*height: 547px;*/
    border-radius: 26px;
    background-color: #ffffff;
    box-shadow: -1px 7px 28px 0 rgba(0, 0, 0, 0.09);
}

.err-no-icon {
	margin-top: 3%;
	width: 13%;
}

.ico-ok-ko {
	margin-top: 3%;
	width: 13%;
}

.option-planta-contador:hover {
	background:grey;
	cursor:pointer;
}

.bootstrap-select button, .bootstrap-select button:hover, .bootstrap-select button:focus {
    box-sizing: border-box;
    border: 1px solid #66AB05;
    height: 50px;
    background: white;
    margin:0 25%;
    border-radius:30px;
}

.bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*=col-] {
	/* float: none; */
	display: inline; 
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option{
	display: inline-block;
    overflow: hidden;
    width: 100%;
    text-align: center;
}

.pr-form {
	margin-top:50px;
}

.btn-continuar{
	margin-top:45px;
}

.btn-continuar-panel{
	margin-top:45px;
	margin-bottom:75px;
}

.fr-sp-title{
	margin-top:30px;
}

.arrow-next {
	margin-left:10px;
}

.fr-pres-position{
	/* margin-left:25%; */
}

.btn-fix-position{
	/*margin: 5% 40%;*/
}

.recarga-titulo-precio{
    color: #5b8024;
    font-size: 16px;
    font-weight: bold;
}

.recarga-precio-nar-ver{
    font-size: 30px;
    color: #43484d;
    font-weight: bold;
    text-align: left;
    /* width:135%; */
}

.recarga-precio {
    font-size: 36px;
    color: #43484d;
    font-weight: bold;
    text-align: center;
}

.titulo-naranja-precio {
	width: 250px;
	height: 30px;
	font-size: 25px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #f5a623;
}

.titulo-verde-precio {
	font-size: 28px;
	font-weight: bold;
	color: #ee162d;
}

.precio-mostrado {
    font-size: 18px;
    font-weight: bold;
    color: #484848;
    text-align: left;
    margin-top: 0;
}

.precio-mostrado-incluye {
	color: #4a4a4a;
    text-align: left;
    font-weight: 500;
}

input[type="text"].inputs-form {
    border-radius:  20px 20px;
    border-color: #ccc;
    font-size: 1.6rem;
    height: 40px;
    margin-bottom: 40px;
}

input[type="text"].inputs-form:focus{
    -webkit-box-shadow: 0 0 8px rgba(102, 171, 5, 1);
    -moz-box-shadow: 0 0 8px rgba(102, 171, 5, 1);
    -ms-box-shadow: 0 0 8px rgba(102, 171, 5, 1);
    -o-box-shadow: 0 0 8px rgba(102, 171, 5, 1);
    box-shadow: 0 0 8px rgba(102, 171, 5, 1);
    border-color: #ee162d;
}

.col-centered{
	display:inline-block;
    text-align:left;
    margin-right:-4px;
    text-align: center;
}

.contenedor-smartMobility-cabecera-img{
	float: right;
	top: 0;
	position: relative;
	width: 58%;
}

.contenedor-smartMobility-cabecera-img img{
    float: right;
}

.form-smart-solar{
	display: table;
	background-image: url(/webclipb/gc/prod/adminwcm/img/smart-mobility/bg.svg);
	background-position: top center;
	background-size: 100%;
	background-repeat: no-repeat;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
}

ul.primary-list > li,
ul.secondary-list > li {
    list-style: none;
    text-align: left;
	width:95%;
}

ul.primary-list > li:before {
    content: "\25CF";
    color: #ee162d;
    margin-right: 10px;
}

.modal-inic-reducido{
	position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    display: block;
    width: auto;
    margin-top: 20px;
}

div-cerrar-modal-sms{
	display:block;
	width: 100%;
    overflow: auto;
}

.div-cerrar-modal-sms img{
	width:20px;
	height:20px;
}

.div-modal-textos-sms{
	display:block;
	margin-top: 41px;
}


.div-modal-textos-sms h2.modal-title{
	margin-top: 32px;
    font-family: Lato-Bold;
    font-size: 30px;
    color: #5c8819;
}

.div-modal-textos-sms p.modal-text{
	margin-top: 20px;
    font-family: Lato-Regular;
    font-size: 18px;
    color: #4a4a4a;
}

.camposform-sobreado input{
	width: 45%;
    margin: 0 auto;
}

.label-reenviar{
  font-family: Lato-Regular;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #484848;
  margin-bottom: 40px;
  margin-top: 15px;
}

#btn-download-app{
	margin-bottom: 30px;
}

.dropdown-menu.inner {
	max-height: 581px;
    overflow-y: auto;
    min-height: 80px;
    height: 135px;
}

.bootstrap-select.btn-group .dropdown-menu{
	position: relative;
}

.cont-camposform{
	background-color: #f9f9f9;
    height: 100px;
    width: 100%;
    position: absolute;
    margin-left: -15px;
    padding-top: 34px;
}

#boton-enviar-sms{
	width:35%;
}

.modal-dialog {
    /* width: 600px; */
    margin: 30px auto;
}

.modal-sms-size{
    height: 580px;
    width: 80%;
    margin-left: 10%;
    border-radius: 26px;
    background-color: #ffffff;
    box-shadow: -1px 7px 28px 0 rgba(0, 0, 0, 0.09);
}

.modal-confirm-size{
    width: 80%;
    margin-left: 10%;
    height: 490px;
    border-radius: 26px;
    background-color: #ffffff;
    box-shadow: -1px 7px 28px 0 rgba(0, 0, 0, 0.09);
}

.modal-problem-size{
    width: 80%;
    max-width: 80%;
    margin-left: 10%;
    height: 452px;
    border-radius: 26px;
    background-color: #ffffff;
    box-shadow: -1px 7px 28px 0 rgba(0, 0, 0, 0.09);
}

.modal-body .modal-confirm{
	 height: 452px;
}

.modal-title-ok{
	margin-top: 32px;
    font-family: Lato-Bold;
    font-size: 18px;
    color: #5c8819;
    margin-bottom:25px;
}

.contenedor-titulo-precio {
	margin: 15px 0 5px 0;
}

.precio-legal-texto {
	text-align: left;
    color: #b1b1b1;
}

#precioMostradoLegal {
	margin-top: 40px;
}

.container-check-left {
	margin-bottom:20px;
}

.inic-lopd-cell {
    font-size: 1.3rem;
    color: #707070;
}

/* Pantallas entre 1024px y 1280px (desktop)*/
@media screen and (min-width: 64em) and (max-width: 79.99em) {

.form-smart-solar{
	display: block;
}
	.modal-sms-size{
	    height: 560px;
	    width: 80%;
	    margin-left: 10%;
	    border-radius: 26px;
	    background-color: #ffffff;
	    box-shadow: -1px 7px 28px 0 rgba(0, 0, 0, 0.09);
	}
	
	.contenedor-smartMobility-cabecera-img .cabecera-desktop{
		display: block!important;
		width: 80%;
	}
	.contenedor-smartMobility-cabecera-img .cabecera-tablet{
		display: none;
	}
	.contenedor-smartMobility-cabecera-img .cabecera-mobile{
		display: none;
	}
	
	.modal-confirm-size{
	    width: 80%;
	    margin-left: 10%;
	    height: 452px;
		border-radius: 26px;
		background-color: #ffffff;
		box-shadow: -1px 7px 28px 0 rgba(0, 0, 0, 0.09);
	}
	
	.modal-problem-size{
	    width: 80%;
	    max-width: 80%;
	    margin-left: 10%;
	    height: 370px;
	    border-radius: 26px;
	    background-color: #ffffff;
	    box-shadow: -1px 7px 28px 0 rgba(0, 0, 0, 0.09);
	}
	.texto-presupuesto, .texto-oportunidad{
		margin-top:20px;
	}
	.puntos-recarga ul.primary-list{
		padding-left: 10px;
	}
	.contenedor-smartMobility-seccion1 {
		margin: 50px 0 50px 0px;
	}
	.dropdown-menu.inner {
	    height: 140px;
	}
	.modal-dialog {
	    /* width: 600px; */
	    margin: 30px auto;
	}
}
/* Pantallas entre 768px y 1024px (tablet) */
@media screen and (min-width: 47.96em) and (max-width: 63.95em) {	 
	.contenedor-smartMobility-seccion1 .img-responsive{
		margin: 0 auto;
	} 
	.texto-presupuesto, .texto-oportunidad{
		margin-top:20px;
		 padding-left: 50px;
	}
	.btn-fix-position{
		margin: 30px 0 0 0;
	}
	.contenedor-smartMobility-cabecera .titulo {
	    padding-left: 50px;
	}
	.contenedor-smartMobility-cabecera h2 {
		font-size: 3rem;
	}
	.contenedor-smartMobility-cabecera-img .cabecera-desktop{
		display: none;
	}
	.contenedor-smartMobility-cabecera-img .cabecera-tablet{
		display: block;
		margin-top: -400px;
	}
	.contenedor-smartMobility-cabecera-img .cabecera-mobile{
		display: none;
	}
	.contenedor-smartMobility-seccion1 {
		margin: 50px 0 50px 0px;
	}
	.dropdown-menu.inner {
	    height: 140px;
	}
	.modal-dialog {
	    /* width: 600px; */
	    margin: 30px auto;
	}

	.ico-ok-ko{
		width: 15%;
	}
	.modal-problem-size{
		height: 334px;
	}
	.button-img2{
		display:none;
	}
}



/* Pantallas inferiores a 767px (mobile)*/ 
@media screen and (max-width: 47.95em) {
	.contenedor-smartMobility-precio .precio-oculto{
	    display: none;
	    height: 495px;
	    margin: 0 20px;
	    
	}
	.modal-sms-size{
	    height: 670px;
	    width: 80%;
	    margin-left: 10%;
	    border-radius: 26px;
	    background-color: #ffffff;
	    box-shadow: -1px 7px 28px 0 rgba(0, 0, 0, 0.09);
	}
	.modal-confirm-size{
	    height: 400px;
	    width: 80%;
	    margin-left: 10%;
	    border-radius: 26px;
	    background-color: #ffffff;
	    box-shadow: -1px 7px 28px 0 rgba(0, 0, 0, 0.09);
	}
	.modal-problem-size{
	    height: 340px;
	    width: 80%;
	    margin-left: 10%;
	    border-radius: 26px;
	    background-color: #ffffff;
	    box-shadow: -1px 7px 28px 0 rgba(0, 0, 0, 0.09);
	}
	.ico-ok-ko {
	    margin-top: 3%;
	    width: 20%;
	}
	.contenedor-smartMobility-cabecera .titulo p, .contenedor-smartMobility-cabecera .formulario-titulo {
		text-align: left;
	}
	.contenedor-smartMobility-cabecera{
		min-height:375px;
	}
	.contenedor-smartMobility-seccion1{
	    margin: 50px 0 50px 0;
	}
	.contenedor-smartMobility-seccion1 .img-responsive{
		margin: 0 auto;
	} 

	.contenedor-smartMobility-cabecera .titulo {
	    padding-left: 20px;
	    text-align: center;
	}
	.texto-presupuesto, .texto-oportunidad{
		margin-top:20px;
		text-align: center;
	}
	.texto-presupuesto{
		margin-top:20px;
		margin-bottom: 40px;
		text-align: center;
	}
	.contenedor-smartMobility-cabecera h2 {
		text-align: left;
		font-size: 3rem;
	}
	.contenedor-smartMobility-elige .elige{
		margin: 20px 0 20px 0;
	}
	.contenedor-smartMobility-cabecera-img .cabecera-desktop{
		display: none;
	}
	.contenedor-smartMobility-cabecera-img .cabecera-tablet{
		display: none;
	}
	.contenedor-smartMobility-cabecera-img .cabecera-mobile{
		display: block;
		margin-top:-400px
	}
	
	.contenedor-smartMobility-seccion1  .oportunidad-mobile{
		display:block;
	}
	
	.contenedor-smartMobility-seccion1  .presupuesto-mobile{
		display:block;
	}
	.contenedor-smartMobility-seccion1  .oportunidad-desktop{
		display:none;
	}
	
	.contenedor-smartMobility-seccion1  .presupuesto-desktop{
		display:none;
	}
	.modal-content {
	    margin-left: 20px;
	    width: 20em;
	}
	.modal-text {
	    margin: 12% 0 12% 0;
	    padding-left: 0;
	    padding-right: 0;
	}
	.err-no-icon {
	    margin-top: 30%;
	    width: 35%;
	}
	.fr-pres-position{
		margin-left: 0;
	}
	.btn-fix-position{
		margin: 30px 0 0 0;
	}
	.recarga-precio-nar-ver{
    	text-align: center;
    	width: 100%;
    	font-size: 1.5rem;
	}
	.titulo-verde-precio, .titulo-naranja-precio{
		margin: 20px 0 20px 0;
	    width: 100%;
	    text-align: center;
	    font-size: 1.5rem;
	}
	.contenedor-smartMobility-precio .punto-recarga, .contenedor-smartMobility-precio .precio-instalacion{
 	   border-bottom: 1px solid #dbdbdb;
       padding-bottom: 15px;
       height: 195px;
	}
	.contenedor-smartMobility-solicita div.row{
		width: 100%;
	    position: relative; 
	    left:0;
	    margin-left: 0;
	}
	.button-img {
		margin-left: 10px;
		width: 3%;
		margin-top: -2px;
	}	
	
	.separador {
		width: 250px;
		height: 4px;
	}
	.dropdown-menu.inner {
	    height: 140px;
	}
	
	.form-smart-solar{
		display: block;
	}
	.button-img2{
		display:none;
	}
}

.center-element {
	margin-left: auto;
    margin-right: auto;
    display: block;
}

.modal-dialog {
	    /* width: 600px; */
	    margin: 30px auto;
	}
	
.modal-text {
	margin: 4% 0 4% 0;
	font-family: Lato-Regular;
	font-size: 1.25em;
	padding-left: 50px;
	padding-right: 50px;
	line-height: 1.25em;
	color: #727272;
	margin-bottom:15px;
}

.lopd-text{
	text-align: left;
	margin-bottom: 10px;
	font-size: 1.3rem;
	color: #707070;
}

.lopd-block{
	margin-top:30px;
	margin-bottom:20px;
}