.wcom-button {  
    box-sizing: border-box;
    width: 90%;
    max-width: 420px; 
    margin: 10px 15px;
    padding: 15px ; 
    border-radius: 31px;
    font-size:18px;
    font-size:1.285em;
    line-height: 1.3333333;
    font-family: Lato-Black;
    text-transform: uppercase;
    white-space: normal; 
}  
.wcom-button .button-img {
    margin-top: -4px;
    margin-left: 5px;
}

.wcom-button.disabled {
    pointer-events: auto !important;
    cursor: not-allowed;
}

input[type=submit].wcom-button.button-fixwidth,
.wcom-button.button-fixwidth { 
    max-width: 100%;
}
input[type=submit].wcom-button.button-nowidth,
.wcom-button.button-nowidth {
    width: auto;
}    

/* Elimina el borde cuadrado (azul en chrome, gris en firefox...) al hacer foco/click */
.wcom-button:active:focus, 
.wcom-button:focus {
    outline:0;
}

/*   button-green   */

.wcom-button.button-green {
    background: #5C881A;
    border: 1px solid #5C881A;  
}
.wcom-button.button-green .button-text { 
    color: white; 
}
input[type=submit].wcom-button.button-green {
    color: white;
}
.wcom-button.button-green:active, 
.wcom-button.button-green:hover,
.wcom-button.button-green:focus {
    background: #8dab5e !important;  
    border: 1px solid #8dab5e !important; 
}

.wcom-button.button-green:active .button-text,
.wcom-button.button-green:hover .button-text,
.wcom-button.button-green:focus .button-text { 
    color: white; 
}
input[type=submit].wcom-button.button-green:active,
input[type=submit].wcom-button.button-green:hover,
input[type=submit].wcom-button.button-green:focus {
    color: white;
}


/*   button-orange   */

.wcom-button.button-orange { 
    background: #d86600;
    border: 1px solid #d86600; 
}
.wcom-button.button-orange .button-text { 
    color: white; 
}
input[type=submit].wcom-button.button-orange {
    color: white;
}
.wcom-button.button-orange:active, 
.wcom-button.button-orange:hover, 
.wcom-button.button-orange:focus {
    background: #e4944c !important;
    border: 1px solid #e4944c !important; 
}
.wcom-button.button-orange:active .button-text,
.wcom-button.button-orange:hover .button-text,
.wcom-button.button-orange:focus .button-text { 
    color: white; 
}
input[type=submit].wcom-button.button-orange {
    color: white;
}

/*   button-trans-dark-orange   */

.wcom-button.button-trans-dark-orange {
    background: transparent;  
    border: 1px solid #d86600;  
}
.wcom-button.button-trans-dark-orange .button-text { 
    color: #d86600; 
}
input[type=submit].wcom-button.button-trans-dark-orange {
    color: #d86600;
}
.wcom-button.button-trans-dark-orange:active, 
.wcom-button.button-trans-dark-orange:hover, 
.wcom-button.button-trans-dark-orange:focus {
    background: #d86600 !important;
    border: 1px solid #d86600 !important; 
}
.wcom-button.button-trans-dark-orange:active .button-text,
.wcom-button.button-trans-dark-orange:hover .button-text,
.wcom-button.button-trans-dark-orange:focus .button-text { 
    color: #ffffff; 
}
input[type=submit].wcom-button.button-trans-dark-orange {
    color: #d86600;
}


/*   button-trans-dark   */

.wcom-button.button-trans-dark {
    background: transparent;  
    border: 1px solid #94B08B;  
}
.wcom-button.button-trans-dark .button-text { 
    color: #276015; 
}
input[type=submit].wcom-button.button-trans-dark {
    color: #276015;
}
.wcom-button.button-trans-dark:active, 
.wcom-button.button-trans-dark:hover, 
.wcom-button.button-trans-dark:focus {
    background: transparent !important;
    border: 1px solid #276015 !important; 
}
.wcom-button.button-trans-dark:active .button-text,
.wcom-button.button-trans-dark:hover .button-text,
.wcom-button.button-trans-dark:focus .button-text { 
    color: #276015; 
}
input[type=submit].wcom-button.button-trans-dark {
    color: #276015;
}


/*   button-trans-light   */

.wcom-button.button-trans-light {
    background: transparent;  
    border: 1px solid #94B08B;  
}
.wcom-button.button-trans-light .button-text { 
    color: #5C881A; 
}
input[type=submit].wcom-button.button-trans-light {
    color: #5C881A;
}
.wcom-button.button-trans-light:active, 
.wcom-button.button-trans-light:hover, 
.wcom-button.button-trans-light:focus {
    background: transparent !important;
    border: 1px solid #276015 !important; 
}
.wcom-button.button-trans-light:active .button-text,
.wcom-button.button-trans-light:hover .button-text,
.wcom-button.button-trans-light:focus .button-text { 
    color: #276015; 
}
input[type=submit].wcom-button.button-trans-light {
    color: #5C881A;
}

 
/*   button-trans-white   */

.wcom-button.button-trans-white {
    background: transparent;  
    border: 1px solid white;  
}
.wcom-button.button-trans-white .button-text { 
    color: white; 
}
.wcom-button.button-trans-white:active, 
.wcom-button.button-trans-white:hover, 
.wcom-button.button-trans-white:focus {
    background: transparent !important;
    border: 1px solid #94B08B !important; 
}
.wcom-button.button-trans-white:active .button-text,
.wcom-button.button-trans-white:hover .button-text,
.wcom-button.button-trans-white:focus .button-text { 
    color: white; 
}

.wcom-mac-button {  
    box-sizing: border-box;
    width: 90%;
    max-width: 300px; 
    margin: 10px 15px;
    padding: 18px 15px 17px; 
    border-radius: 31px;
    font-size: 1.5rem;
    line-height: 1.3333333;
    font-family: Lato-Black;
    white-space: normal;
    -webkit-transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
    -moz-transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
    -ms-transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
    -o-transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
    transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
}
.wcom-mac-button .button-text {
    word-break: break-all;
}
.wcom-mac-button .button-img {
    margin-top: -4px;
    margin-left: 5px;
}

.wcom-mac-button.disabled {
    pointer-events: auto !important;
    cursor: not-allowed;
}

input[type=submit].wcom-mac-button.button-fixwidth,
.wcom-mac-button.button-fixwidth { 
    max-width: 100%;
}
input[type=submit].wcom-mac-button.button-nowidth,
.wcom-mac-button.button-nowidth {
    width: auto;
}    

/* Elimina el borde cuadrado (azul en chrome, gris en firefox...) al hacer foco/click */
.wcom-mac-button:active:focus, 
.wcom-mac-button:focus {
    outline:0;
}


/*   button-trans-green-light   */
.wcom-mac-button.button-trans-green-light {
    background: transparent;  
    border: 1px solid #95bd38;
    background-image: url('../../img/comunes/button_arrow_right_green_light.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 38px) calc(50% + 2px);
    padding-right: 46px;
}
.wcom-mac-button.button-trans-green-light .button-text { 
    color: #95bd38; 
}
input[type=submit].wcom-mac-button.button-trans-green-light {
    color: #95bd38;
}
.wcom-mac-button.button-trans-green-light:active .button-text,
.wcom-mac-button.button-trans-green-light:hover .button-text,
.wcom-mac-button.button-trans-green-light:focus .button-text { 
    color: white; 
}
.wcom-mac-button.button-trans-green-light:active,
.wcom-mac-button.button-trans-green-light:hover,
.wcom-mac-button.button-trans-green-light:focus { 
    border: 1px solid #95bd38 !important;
    background: #95bd38;
    background-image: url('../../img/comunes/button-arrow-right-white.svg'); 
    background-repeat: no-repeat;
    background-position: calc(100% - 38px) calc(50% + 2px);
    padding-right: 46px;
}



/*   button-trans-orange   */
.wcom-mac-button.button-trans-orange {
    background: transparent;  
    border: 1px solid #f6a623;
    background-image: url('../../img/comunes/button-arrow-right-orange.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 38px) calc(50% + 2px);
    padding-right: 46px;
}
.wcom-mac-button.button-trans-orange .button-text { 
    color: #f6a623; 
}
input[type=submit].wcom-mac-button.button-trans-orange {
    color: #f6a623;
}
.wcom-mac-button.button-trans-orange:active .button-text,
.wcom-mac-button.button-trans-orange:hover .button-text,
.wcom-mac-button.button-trans-orange:focus .button-text { 
    color: white; 
}
.wcom-mac-button.button-trans-orange:active,
.wcom-mac-button.button-trans-orange:hover,
.wcom-mac-button.button-trans-orange:focus { 
    border: 1px solid #f6a623 !important;
    background: #f6a623; 
    background-image: url('../../img/comunes/button-arrow-right-white.svg'); 
    background-repeat: no-repeat;
    background-position: calc(100% - 38px) calc(50% + 2px);
    padding-right: 46px;
}



/* Pantallas inferiores a 768px (mobile) */
@media screen and (max-width: 47.95em) { 
    .wcom-button {   
        margin: 10px 5%; 
    }  
    .wcom-mac-button {   
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        max-width: none; 
    }
    .wcom-mac-button.button-trans-light {
        background-position: calc(100% - 20px) center;
        padding-right: 25px;
    }
}