<sly data-sly-use.slingModel="com.aem.edp.site.core.models.ImagesListModel"></sly>

<sly data-sly-test.columns1="${slingModel.columns == '1'}">
<div class="bloque-contenido">
	<div class="container beneficios">
		<h3>${slingModel.title}</h3>
		<ul>
			<sly data-sly-list.item="${slingModel.lstImgs}">
			<li><img alt="${item.title}" class="img_Sin mini_no"
				src="${item.path}">
				<h4>${item.title}</h4>
				<p>${item.text}</p></li>
			</sly>
		</ul>
		<div
			data-sly-resource="${'button' @ resourceType='wcm/foundation/components/parsys'}"
			data-sly-unwrap="${!wcmmode.isEdit}"></div>
	</div>
</div>

</sly>

<sly data-sly-test.columns2="${slingModel.columns == '2'}">

<div class="bloque-contenido">
	<div class="container que-ofrecemos">
		<h3>${slingModel.title}</h3>
		<p class="descripcion">${slingModel.description}</p>
		<ol>
			<sly data-sly-list.item="${slingModel.lstImgs}">
			<li><img alt="${item.title}" class="img_Sin mini_no"
				src="${item.path}"> <span> <strong>${item.title}</strong>
					${item.text}
			</span></li>
			</sly>
		</ol>
		<div
			data-sly-resource="${'button' @ resourceType='wcm/foundation/components/parsys'}"
			data-sly-unwrap="${!wcmmode.isEdit}"></div>
	</div>
</div>


</sly>