<sly data-sly-use.slingModel="com.aem.edp.site.core.models.SliderHighlightedModel"></sly>
	<sly data-sly-list.map="${slingModel.lstMaps}">
		<div data-id="${map.iconClass}" data-img-path="${map.spath}" class="slider-data"></div>
	</sly>

<div data-img-path="${map.spath}" class="container-fluid puede-instalar ${map.iconClass}" style="display:none">
	<h3>${slingModel.title}</h3>
	<div class="pestanas-home r-tabs"> 
		<ul class="r-tabs-nav">
			<sly data-sly-list.map="${slingModel.lstMaps}">
				<li class="r-tabs-tab r-tabs-state-default">
					<a data-id="${map.iconClass}" class="r-tabs-anchor" href="#${map.id}">
						<span><img alt="" class="img_Sin mini_no" id="" src="${map.ipath}"></span>${map.ititle}
					</a>
				</li> 
			</sly>
		</ul>
		<sly data-sly-list.map="${slingModel.lstMaps}">	
			 <div id="${map.id}"  class="caja-pestana-home r-tabs-panel r-tabs-state-default"> 
		    	<h4 class="titulo2">${map.stitle}</h4> 
		    	<p>${map.sdescription}.</p> 
		   	</div> 
   		</sly>
	</div>
</div>


<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
	<sly data-sly-call="${clientlib.js @ categories='edp-site.components.slider-highlighted'}"></sly>
</sly>

