<sly data-sly-use.slingModel="com.aem.edp.site.core.models.general.HighlightedContent"></sly>


<div class="${slingModel.ctype} ${slingModel.style == 'gray' ? 'gray' : ''}">
	<div class="container">
		<div class="titulo" id="${slingModel.id}">
			<h3>${slingModel.title}</h3>
		</div>
		<div data-sly-resource="${'highlighted-content' @ resourceType='wcm/foundation/components/parsys'}"
			data-sly-unwrap="${!wcmmode.isEdit}">
		</div>
	</div>
</div>