<sly data-sly-use.slingModel="com.aem.edp.site.core.models.FaqsNumModel"></sly>
<sly data-sly-test.author="${wcmmode.edit || wcmmode.design || wcmmode.preview}">
	Configura ${component.title}
</sly>
<div class="accordion">
	<sly data-sly-list.faq="${slingModel.list}">
		<div data-sly-resource="${faqList.index @ resourceType='edp-site/components/content/faqs/question'}"></div>
	</sly>
</div>
