<sly data-sly-use.slingModel="com.aem.edp.site.core.models.general.PedagogicalImage"></sly>


<div class="listado-imagen"> 
    <ol>
    <sly data-sly-list.item="${slingModel.lstPedagogicalItems}">
    	<li><strong>${item}</strong></li>
    </sly>
   </ol>
    <img alt="" class="img_Sin mini_no" id="Imagen_f00a44f9-0037-427a-8626-af11815f8f78_1574680029561" src="${slingModel.path}"> 
</div>