<!--/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright 2016 Adobe Systems Incorporated
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/-->
<sly data-sly-use.title="com.adobe.cq.wcm.core.components.models.Title"
     data-sly-use.template="core/wcm/components/commons/v1/templates.html"
     data-sly-test.text="${title.text}">

	<sly data-sly-test.h1="${title.type == 'h1'}">
		<h1 data-sly-element="${title.type}">
			<a data-sly-unwrap="${!title.linkURL || title.linkDisabled}" class="cmp-title__link" href="${title.linkURL}">${text}</a>
		</h1>
	</sly>
	<sly data-sly-test.h2="${title.type == 'h2'}">
		<h2 class="titulo1" data-sly-element="${title.type}">
			<a data-sly-unwrap="${!title.linkURL || title.linkDisabled}" class="cmp-title__link" href="${title.linkURL}">${text}</a>
		</h2>
	</sly>
	 <sly data-sly-test.h3="${title.type == 'h3'}">
		<h3 class="titulo2" data-sly-element="${title.type}">
			<a data-sly-unwrap="${!title.linkURL || title.linkDisabled}" class="cmp-title__link" href="${title.linkURL}">${text}</a>
		</h3>
	</sly>	
	 <sly data-sly-test="${!h1 && !h2 && !h3}">
		<h2 class="titulo1"><sly data-sly-include="/apps/edp-site/components/content/utils/lorem-ipsums/lorem-title.html"></sly></h2>
	</sly> 
</sly>


