<!-- <sly data-sly-use.steps="${'com.aem.edp.site.core.models.mobility.MobilityStepsModel' @ type=category.type}"></sly> -->

<sly data-sly-use.steps="${'com.aem.edp.site.core.models.mobility.MobilityStepsModel'}"></sly>
Config ${steps.categoryTitle}
<sly data-sly-list.step="${steps.lstStepBean}">
	<div  data-sly-use.psection="edp-site/components/content/forms/movilidad/select-step.html" data-sly-call="${psection.section @ step=step}"></div>
</sly>

