<sly data-sly-test.ptitle="${!properties.ptitle}">
	<h2 class="titulo1"> <sly data-sly-include="/apps/edp-site/components/content/utils/lorem-ipsums/lorem-title.html"></sly></h2>
</sly>
<sly data-sly-test="${!ptitle}">
	<h2>${properties.ptitle}</h2>
</sly>
<sly data-sly-test="${!properties.text}"> 
	<p><sly data-sly-include="/apps/edp-site/components/content/utils/lorem-ipsums/lorem-paragraph.html"></sly></p>
</sly>
<sly data-sly-test="${properties.text}">
	<p data-sly-unwrap="${properties.isRichText}">${properties.text @ context = 'html'}</p>
</sly>




