<sly data-sly-use.slingModel="com.aem.edp.site.core.models.SummaryModel"></sly>
<sly data-sly-test.hasContent="${properties.text}">
<ul class="listado1">
		<li>${properties.text @ context = 'html'}
		<sly data-sly-test.level2="${slingModel.levelnum != '0'}">
			<ul class="listado1">
				<sly data-sly-list.child="${slingModel.list}">
					<li data-sly-resource.summary="${childList.index @ resourceType='edp-site/components/content/info-pages-components/text'}"></li>
				</sly>
			</ul>
		</sly>
		 </li>
</ul>
</sly>
<sly data-sly-test="${!hasContent}">
	<ul class="listado1">
		<li><sly data-sly-include="/apps/edp-site/components/content/utils/lorem-ipsums/lorem-text.html"></sly></li>
		<li><sly data-sly-include="/apps/edp-site/components/content/utils/lorem-ipsums/lorem-text.html"></sly></li>
	</ul>
</sly>	
