<sly data-sly-test.author="${wcmmode.edit || wcmmode.design || wcmmode.preview}">
<div></div>
</sly>
<sly data-sly-test.empty="${!properties.text}">
	<sly data-sly-include="/apps/edp-site/components/content/utils/lorem-ipsums/lorem-title.html"></sly>
</sly>
<sly data-sly-test="${!empty}">
	<p data-sly-unwrap="${properties.isRichText}">${properties.text @ context = 'html'}</p>
</sly>






