<sly data-sly-test.author="${wcmmode.edit}">
	Config ${component.title}
</sly>
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='edp-site.components.movilidad'}"></sly>
</sly>
<sly data-sly-use.slingModel="com.aem.edp.site.core.models.mobility.MobilityModel"></sly>
<div  class="contenedor-smartMobility-elige col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12 text-center preguntas bloque1">
	<div id="preg1" data-selected="preg1a" style="display: block;">
			<div class="col-lg-12">
			</div>
			<h2 class="formulario-titulo">Elige tu tipo de garaje</h2>
			<ul class="list-unstyled col-sm-12 col-md-12 fr-sp-title">
				<sly data-sly-list.category="${slingModel.lstCategories}">
					<li name="${category.id}" class="col-lg-4 col-md-3 col-sm-3 col-xs-12 elige">
						<span id="preg1a" class="elige1" data-value="1A" data-block="1">
							<img class="img-panel" src="${category.path}">
							<h4>${category.title}</h4>
						</span>
					</li>				
				</sly>
			</ul>	
			<div class="init-form" data-sly-resource="${'button' @ resourceType='edp-site/components/content/button'}"></div>
	</div>
	<div id="preg3" data-block="2">
		<sly data-sly-list.category="${slingModel.lstCategories}">			
<!-- 			 <sly  data-sly-use.steps="${'com.aem.edp.site.core.models.mobility.MobilityStepsModel' @ type=category.type}"></sly>	 -->
<!-- 				<div  data-sly-use.psection="edp-site/components/content/forms/steps/steps-container/steps-container.html" data-sly-call="${psection.section @ steps=steps.lstStepBean}"></div> -->
				
				<sly data-sly-test="${author}">
					<div id="${category.id}" data-sly-resource="${categoryList.index @ resourceType='edp-site/components/content/forms/steps/steps-container', selectors=[category.type,category.title]}">
						<div class="next-step" data-sly-resource="${'button' @ resourceType='edp-site/components/content/button'}"></div>
					</div>	
				</sly>
				
				<sly data-sly-test="${!author}">
					<div style="display: none;" id="${category.id}" data-sly-resource="${categoryList.index @ resourceType='edp-site/components/content/forms/steps/steps-container', selectors=[category.type,category.title]}">
						<div class="next-step" data-sly-resource="${'button' @ resourceType='edp-site/components/content/button'}"></div>
					</div>		
				</sly>		
		</sly>
	</div>
</div>

<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.js @ categories='edp-site.components.movilidad'}"></sly>
</sly>
