
<template data-sly-template.section="${@ step}">
<h2>${properties.title != '' ? properties.title : step.title}</h2>
<div>
	<select id="plantaGaraje">
		<option value="0">Seleccione...</option>
		<sly data-sly-list.value="${step.select}">
			<option value="${value}">${value}</option>
		</sly>
	</select>
</div>
</template>