<div data-sly-use.model="com.aem.edp.site.core.models.CustomImageModel"
     data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
     data-sly-test="${model.image.src}"
     data-cmp-is="image"
     data-cmp-lazy="${model.image.lazyEnabled}"
     data-cmp-src="${model.image.srcUriTemplate ? model.image.srcUriTemplate : model.image.src}"
     data-cmp-widths="${model.image.widths}"
     data-asset="${model.image.fileReference}"
     data-asset-id="${model.image.uuid}"
     data-title="${model.image.title || model.image.alt}"
     class="cmp-image${!wcmmode.disabled ? ' cq-dd-image' : ''}"
     itemscope itemtype="http://schema.org/ImageObject">
    <a data-sly-unwrap="${!model.image.link}"
       class="cmp-image__link" href="${model.image.link}"
       data-cmp-hook-image="link">
        <noscript data-sly-unwrap="${!model.image.lazyEnabled && model.image.widths.length <= 1 && !model.image.areas}" data-cmp-hook-image="noscript">
            <sly data-sly-test.usemap="${'{0}{1}' @ format=['#', resource.path]}"></sly>
            <img src="${model.image.src}" class="cmp-image__image" itemprop="contentUrl" data-cmp-hook-image="image"
                 data-sly-attribute.usemap="${model.image.areas ? usemap : ''}"
                 alt="${model.image.alt || true}" title="${model.image.displayPopupTitle && model.image.title}"/>
            <map data-sly-test="${model.image.areas}"
                 data-sly-list.area="${model.image.areas}"
                 name="${resource.path}"
                 data-cmp-hook-image="map">
                <area shape="${area.shape}" coords="${area.coordinates}" href="${area.href}" target="${area.target}" alt="${area.alt}"
                      data-cmp-hook-image="area" data-cmp-relcoords="${area.relativeCoordinates}">
            </map>
        </noscript>
    </a>
    <span class="cmp-image__title" itemprop="caption" data-sly-test="${!model.image.displayPopupTitle && model.image.title}">${image.title}</span>
    <meta itemprop="caption" content="${model.image.title}" data-sly-test="${model.image.displayPopupTitle && model.image.title}">
</div>
<sly data-sly-call="${templates.placeholder @ isEmpty = !model.image.src, classAppend = 'cmp-image cq-dd-image'}"></sly>
<sly data-sly-test="${!model.image.src}">
<img src="/content/dam/edp-site/images/logo-edp.svg" style="width: 100%">
</sly>
