<sly data-sly-use.slingModel="com.aem.edp.site.core.models.DocModel"></sly>
<div class="pieNotas conDocumento col-lg-12 col-md-12 clearfix">
	<div class="tipoContenido"><span>Titulo</span></div>
	<div class="info">
		<sly data-sly-test.date="${slingModel.formatSize}">
			<time class="fecha">${slingModel.dateString}</time>
		</sly>
		<sly data-sly-test="${!date}">
			<time class="fecha"><sly data-sly-include.sdate="/apps/edp-site/components/content/utils/lorem-ipsums/lorem-date.html"></sly></time>
		</sly>
		<span class="tipoDoc">PDF</span> 
		<span class="tamanyo">
			<sly data-sly-test.size="${slingModel.formatSize}">
				${slingModel.formatSize}
			</sly>
			<sly data-sly-test.size="${!size}"> <sly data-sly-include="/apps/edp-site/components/content/utils/lorem-ipsums/lorem-docsize.html"></sly></sly>
		</span>
		<span class="documento" data-tracking="true" data-cat="descargas"data-act="descarga de pdf">
			<sly data-sly-test.path="${slingModel.docpath}">
				<a href="${slingModel.docpath}" target="_blank" onclick="" data-tracking="true">Descargar documento</a> 
				<span class="iconoDoc" data-icon="x"></span>
			</sly>		
		</span>
	</div>
</div>
