<sly data-sly-use.slingModel="com.aem.edp.site.core.models.IframeModel"></sly>
<div data-sly-test="${(wcmmode.edit || wcmmode.preview) && !slingModel.src}" class="configure-block">
    Configura tu componente: ${component.title}
</div>
<div data-sly-test="${slingModel.src}" class="container-page">
    <input type="hidden" id="heightDesktop" name="heightDesktop" value="${slingModel.heightDesktop}">
    <input type="hidden" id="heightTablet" name="heightTablet" value="${slingModel.heightTablet}">
    <input type="hidden" id="heightMobile" name="heightMobile" value="${slingModel.heightMobile}">
    <div class="iframe-wrapper">
        <iframe id="${slingModel.id}" title="${slingModel.title}" src="${slingModel.src @context='uri'}" height="${slingModel.heightDesktop}" width="100%" frameborder="0"></iframe>
    </div>
</div>

