<template data-sly-template.head="${ @ page }"
          data-sly-use.headlibRenderer="headlibs.html"
          data-sly-use.headResources="head.resources.html">
    <sly data-sly-use.model="com.aem.edp.site.core.models.MetaTagsModel"></sly>
    <meta charset="UTF-8">
    <title>${model.metaTitle}</title>
    <meta data-sly-test.description="${model.metaDescription}" name="description" content="${model.metaDescription}"/>
    <meta data-sly-test="${model.metaRobots}" name="robots" content="${model.metaRobots}"/>
    <meta data-sly-test="${model.customMetaKeywords}" name="keywords" content="${model.customMetaKeywords}"/>
    <link data-sly-test="${model.canonical}" rel="canonical" href="${model.canonical}">
    <meta data-sly-test="${model.contentURL}" name="content-url" content="${model.contentURL}"/>
    <meta data-sly-test.templateName="${page.templateName}" name="template" content="${templateName}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <sly data-sly-include="head.socialmedia.html"></sly>
    <sly data-sly-include="customheaderlibs.html"></sly>
    <sly data-sly-call="${headlibRenderer.headlibs @
                                designPath                = page.designPath,
                                staticDesignPath          = page.staticDesignPath,
                                clientLibCategories       = page.clientLibCategories,
                                clientLibCategoriesJsHead = page.clientLibCategoriesJsHead,
                                hasCloudconfigSupport     = page.hasCloudconfigSupport}"></sly>
    <sly data-sly-test.appResourcesPath=${page.appResourcesPath} data-sly-call="${headResources.favicons @ path = appResourcesPath}"></sly>
    
    
    
    <sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
    	<sly data-sly-call="${clientlib.js @ categories='edp-site.site'}"/>
	</sly>
    
</template>
