#popup_overlay, #popup_container {
	z-index: 10000000 !important
}

#popup_container {
	width: 480px;
	padding: 30px 0 !important;
	background: #fff url(../img/info.png) no-repeat 35px 45px;
	font: 1em normal Arial, Verdana, Helvetica, sans-serif;
	color: #707070;
	text-align: left -webkit-box-shadow:1px 0 1px #b5b6b7;
	-moz-box-shadow: 1px 0 1px #b5b6b7;
	-o-box-shadow: 1px 0 1px #b5b6b7;
	-ms-box-shadow: 1px 0 1px #b5b6b7;
	box-shadow: 0 0 10px #666
}

#popup_container.alert {
	background-image: url(../img/warning.png)
}

#popup_container.confirm {
	background-image: url(../img/confirm.png)
}

#popup_container.prompt {
	background-image: url(../img/help.png)
}

#popup_title {
	width: auto;
	float: none;
	margin: 15px;
	padding: 0 0 0 115px;
	text-align: left;
	font: normal 2.15em arial;
	text-transform: uppercase;
	color: #5c5f5d
}

#popup_content {
	width: 100%;
	float: left;
	padding: 0 !important;
	padding-bottom: 5px
}

#popup_message {
	width: 100%;
	float: left;
	min-height: 70px !important;
	height: auto
}

#popup_message ul {
	margin: 0;
	padding: 0 0 20px 145px !important
}

#popup_message li {
	padding: 0 0 10px 0;
	font: normal 1.3em arial;
	list-style-type: square
}

#popup_message li:first-child:last-child {
	margin-left: -15px;
	list-style-type: none
}

#popup_panel {
	width: 100%;
	text-align: center
}

#popup_panel span {
	width: auto;
	margin: 0 auto;
	padding: 10px 20px;
	background: #00679b;
	border: 0;
	font: normal 1.3em arial;
	cursor: pointer;
	color: #fff;
	-webkit-appearance: none
}

@media handheld , only screen and (max-width:650px) {
	#popup_container {
		width: 300px;
		background-image: none !important
	}
	#popup_title, #popup_message ul {
		padding-left: 15px !important
	}
}