<div class="descCorta">
	<div style="font-size: 14pt;">
	
		<sly data-sly-test.title="${!properties.title}">
			<sly data-sly-include="/apps/edp-site/components/content/utils/lorem-ipsums/lorem-link.html"></sly>
		</sly>
		<sly data-sly-test="${!title}">
			<a title="Localizador de estaciones" target="_blank" href="${properties.link}">${properties.title}</a>
		</sly>
		
	</div>
</div>