<sly data-sly-use.slingModel="com.aem.edp.site.core.models.FaqsModel"></sly>
<sly data-sly-test.author="${wcmmode.edit || wcmmode.design || wcmmode.preview}">
	Config ${component.title}
</sly>
<div id="contenido">
	<div class="container faq"> 
		<div id="tabs" class="pestanas r-tabs"> 
			<ul class="r-tabs-nav"> 
				<sly data-sly-list.category="${slingModel.lstCategories}">
					<li class="r-tabs-tab r-tabs-state-default">
						<a href="#${category.id}" class="r-tabs-anchor">
							<span>
								<img alt="" class="img_Sin mini_no" id="Imagen_cf5b9e0b-7889-40a0-8de5-4ede1005648a_6471868589979" src="${category.path}">
							</span>
							${category.title}
						</a>
					
					</li>
				</sly>
			</ul>
			<sly data-sly-list.category="${slingModel.lstCategories}">				
				<sly data-sly-test.first="${categoryList.index == 0}">
					<div class="caja-pestana r-tabs-state-default r-tabs-panel" id="${category.id}" style="display: block;"> 
		   				<div class="acordeon ui-accordion ui-widget ui-helper-reset" role="tablist"> 
							<div data-sly-resource="${categoryList.index @ resourceType='edp-site/components/content/faqs/faqs-accordion'}"></div>
						</div>
					</div>
				</sly>
				<sly data-sly-test="${!first}">
					<div class="caja-pestana r-tabs-state-default r-tabs-panel" id="${category.id}"> 
		   				<div class="acordeon ui-accordion ui-widget ui-helper-reset" role="tablist"> 
							<div data-sly-resource="${categoryList.index @ resourceType='edp-site/components/content/faqs/faqs-accordion'}"></div>
						</div>
					</div>
				</sly>
			</sly>
		</div>	
	</div>
</div>