<sly data-sly-test.author="${wcmmode.edit || wcmmode.design || wcmmode.preview}">
<div></div>
</sly>
<sly data-sly-use.slingModel="com.aem.edp.site.core.models.QuestionModel"></sly>
	<h2 class="titulo2 ui-accordion-header ui-corner-top ui-state-default ui-accordion-icons ui-accordion-header-collapsed ui-corner-all" role="tab" id="ui-id-1" aria-controls="ui-id-2" aria-selected="false" aria-expanded="false" tabindex="-1">
		<span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
		<sly data-sly-test.emptyq="${!slingModel.question}">
			<sly data-sly-include="/apps/edp-site/components/content/utils/lorem-ipsums/lorem-title.html"></sly>
		</sly>
		<sly data-sly-test="${!emptyq}">
			${slingModel.question  @ context = 'html'}
		</sly>
	</h2>	
	<div>
		<sly data-sly-test.emptya="${!properties.text}">
			<sly data-sly-include="/apps/edp-site/components/content/utils/lorem-ipsums/lorem-title.html"></sly>
		</sly>
		<sly data-sly-test="${!emptya}">
			${properties.text @ context = 'html'}
		</sly>
	</div>
